<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      {{ 'MY_FINANCE' | translate }}
    </h2>
  </div>
</div>

<md-tabs md-selected="0" class="md-primary" md-dynamic-height >
  
  <md-tab label="Facturen">
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">
          <a href="" ng-click="is3Collapsed = !is3Collapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': is3Collapsed, 'fa-chevron-down': !is3Collapsed }"></i>
            {{view == 'both' ? 'Openstaande kosten en opbrengsten' : (view == 'owner' ? 'Te ontvangen verhuuropbrengsten' : 'Gemaakte kosten')}}
          </a>
        </h3>
      </div>
      <div uib-collapse="is3Collapsed">
        <div class="card-body">
         
          <table class="table table-hover table-finance" ng-if="(view == 'both' || view == 'renter') && openInvoices.renter">
            <thead>
              <tr>
                <th class="table-finance-col-1">Gemaakte ritten</th>
                <th class="table-finance-col-2 text-right">Kosten</th>
                <th class="table-finance-col-3"> </th>
              </tr>
            </thead>
            <tbody ng-repeat="openInvoice in openInvoices.renter">
              <tr ng-click="open=!open" class="clickable" ng-class="{'open': open}">
                <td>{{'Rit op ' + (openInvoice.booking.beginBooking | amDateFormat:'DD-MM-YYYY')  + ' in ' + openInvoice.booking.resource.alias }}</td>
                <td class="text-right">{{openInvoice.total | currency}}</td>
                <td class="text-right">
                  <md-icon ng-if="!open">arrow_drop_down</md-icon>
                  <md-icon ng-if="open">arrow_drop_up</md-icon>
                </td>
              </tr>
              <tr ng-repeat="invoice in openInvoice.invoices" class="nohover" ng-show="open" ng-class="{lastrow: $last}">
                <td colspan="3" class="reset-cell">
                  <table class="table table-full-width table-no-margin-bottom">
                    <tr class="table-finance-subtable" ng-repeat="invoiceLine in invoice.invoiceLines">
                      <td class="table-finance-col-1 first subitem">{{invoiceLine.description}}</td>
                      <td class="table-finance-col-2 second subitem text-right" ng-class="{'pos': (invoiceLine.total > 0 && invoice.sender.id === me.id) || (invoiceLine.total < 0 && invoice.recipient.id === me.id) }">{{invoice.recipient.id === me.id ? invoiceLine.total : -1 * invoiceLine.total| currency }}</td>
                      <td class="table-finance-col-3 subitem" ></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover table-finance" ng-if="(view == 'both' || view == 'owner') && openInvoices.owner">
            <thead>
              <tr>
                <th class="table-finance-col-1">Ritten in jouw auto's</th>
                <th class="table-finance-col-2 text-right">Opbrengsten</th>
                <th class="table-finance-col-3"> </th>
              </tr>
            </thead>
            <tbody ng-repeat="openInvoice in openInvoices.owner">
              <tr ng-click="open=!open" class="clickable" ng-class="{'open': open}">
                <td>{{'Rit op ' + (openInvoice.booking.beginBooking | amDateFormat:'DD-MM-YYYY')  + ' door ' + openInvoice.booking.person.firstName }}</td>
                <td class="text-right">{{openInvoice.total | currency}}</td>
                <td class="text-right">
                  <md-icon ng-if="!open">arrow_drop_down</md-icon>
                  <md-icon ng-if="open">arrow_drop_up</md-icon>
                </td>
              </tr>
              <tr ng-repeat="invoice in openInvoice.invoices" class="nohover" ng-show="open" ng-class="{lastrow: $last}">
                <td colspan="3" class="reset-cell">
                  <table class="table-full-width">
                    <tr class="table-finance-subtable" ng-repeat="invoiceLine in invoice.invoiceLines">
                      <td class="table-finance-col-1 first subitem">{{invoiceLine.description}}</td>
                      <td class="table-finance-col-2 second subitem text-right" ng-class="{'neg': (invoiceLine.total < 0 && invoice.sender.id === me.id) || (invoiceLine.total > 0 && invoice.recipient.id === me.id) }">{{invoice.recipient.id === me.id ? -1 * invoiceLine.total : invoiceLine.total| currency }}</td>
                      <td class="table-finance-col-3 subitem" ></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover table-finance" ng-if="openInvoices.null">
            <thead class="no-border">
              <tr>
                <th class="table-finance-col-1">
                  {{view == 'both' ? 'Overige kosten en opbrensten' : (view == 'owner' ? 'Overige opbrensten' : 'Overige kosten')}}
                </th>
                <th class="table-finance-col-2 text-right">
                  {{view == 'both' ? 'Bedrag' : (view == 'owner' ? 'Opbrensten' : 'Kosten')}}
                </th>
                <th class="table-finance-col-3"> </th>
              </tr>
            </thead>
            <tbody ng-repeat="openInvoice in openInvoices.null">
              <tr ng-repeat="invoice in openInvoice.invoices" class="nohover"  ng-class="{lastrow: $last}">
                <td colspan="3" class="reset-cell">
                  <table class="table table-full-width table-no-margin-bottom">
                    <tr class="" ng-repeat="invoiceLine in invoice.invoiceLines">
                      <td class="table-finance-col-1">{{invoiceLine.description}}</td>
                      <td class="table-finance-col-2 text-right" ng-class="{'neg': (invoiceLine.total < 0 && invoice.sender.id === me.id) || (invoiceLine.total > 0 && invoice.recipient.id === me.id), 'pos': (invoiceLine.total > 0 && invoice.sender.id === me.id) || (invoiceLine.total < 0 && invoice.recipient.id === me.id) }">{{invoice.recipient.id === me.id ? -1 * invoiceLine.total : invoiceLine.total| currency }}</td>
                      <td class="table-finance-col-3" ></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-right">
            <button ng-if="openInvoices.totals.hasToPay" type="button" class="btn btn-primary">
              Betaal {{openInvoices.totals.grandTotalToPay | currency}}
            </button>
            <button ng-if="openInvoices.totals.hasToReceive" type="button" class="btn btn-primary">
              Laat {{openInvoices.totals.grandTotalToReceive | currency}} uitbetalen
            </button>
          </div>

          <div ng-if="loaded && (view === 'both' && !openInvoices.null && !openInvoices.renter && !openInvoices.owner) || (view === 'renter' && !openInvoices.null && !openInvoices.renter) || (view === 'owner' && !openInvoices.null && !openInvoices.owner)">
            <p>
              Je hebt geen openstaande facturen. 
            </p>
          </div>
          
        </div>
      </div>
    </div><!-- /card -->

    <div class="card" ng-init="showMyInvoices=true">
      <div class="card-heading">
        <h3 class="card-title">
          <a href="" ng-click="showMyInvoices = !showMyInvoices">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !showMyInvoices, 'fa-chevron-down': showMyInvoices }"></i>
            {{view == 'both' ? 'Reeds afgesloten facturen' : (view == 'owner' ? 'Reeds ontvangen verhuuropbrengsten' : 'Reeds betaalde facturen')}}
          </a>
        </h3>
      </div>

      <div uib-collapse="!showMyInvoices">
        <div class="card-body">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Datum</th>
                <th>Status</th>
                <th class="text-right">Bedrag</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable" ng-repeat="invoiceGroup in groupedInvoices">
                <td>{{invoiceGroup.id}}</td>
                <td>{{invoiceGroup.date | amDateFormat:'DD-MM-YYYY'}}</td>
                <td>{{statusText(invoiceGroup.status)}} <span ng-if="statusTooltipEnable(invoiceGroup.status)" uib-tooltip="statusTooltipText(invoiceGroup.status)" class="text-muted"><i class="fa fa-info-circle"></i></span> </td>
                <td class="text-right">{{invoiceGroup.total | currency}}</td>
                <td class="text-right"><i title="Download pdf" class="fa fa-fw fa-file-pdf-o"></i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div><!--/card-->
  </md-tab>

  <md-tab label="Rijtegoed">
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">
          <a href="" ng-click="isCollapsed2 = !isCollapsed2">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isCollapsed2, 'fa-chevron-down': !isCollapsed2 }"></i>
            Huidig rijtegoed
          </a>
        </h3>
      </div>
      <div class="card-body" uib-collapse="isCollapsed2">
        <div style="float: left">
          <md-button style="width: 100%" class="md-raised">Bijkopen</md-button><br>
          <md-button style="width: 100%" class="md-raised md-primary">Uitbetalen</md-button>
        </div>
        <span style="float: right;"><span style="color: #255a6f; font-size: 5em; text-align: right;">{{120.12|currency}}</span></span>
        <span class="clearfix"></span>
        <p style="margin-top: 16px;">
          Elit quod nobis sit soluta facere ipsam amet. Necessitatibus non eaque aliquid tempore reiciendis! Explicabo repellendus quasi quo est nobis magnam consectetur quasi fugit pariatur. Voluptatum veniam labore numquam sint?
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">
          <a href="" ng-click="isCollapsed = !isCollapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !isCollapsed, 'fa-chevron-down': isCollapsed }"></i>
            Aankoopgeschiedenis
          </a>
        </h3>
      </div>
      <div class="card-body" uib-collapse="!isCollapsed">
        <table class="table table-condensed">
          <tbody>
            <tr ng-class="{'text-muted': voucher.unused == 0}" ng-repeat="voucher in vouchers">
              <td><strong>{{voucher.total | currency}}</strong></td>
              <td>waarvan {{voucher.unused | currency}} resterend</td>
              <td>gekocht op {{voucher.bought | amDateFormat:'DD-MM-YYYY'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-tab>

</md-tabs>
