<div ng-show="!$root.personSubmited">
    <form class="mywheels-form details--profile--form" name="personalDataForm" ng-submit="subscribe(credentials, person, license_front)">

        <!-- firstName -->
        <div id="firstName_group" class="icon user">
            <input type="text" name="firstName" id="firstName" ng-model="person.firstName" placeholder="{{ 'FIRST_NAME' | translate }}" required>
            <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.firstName.$touched">
                <span class="text-danger" ng-show="personalDataForm.firstName.$error.required">{{ 'REQUIRED' | translate }}</span>
            </div>
        </div>

        <!-- /firstName -->
        <div class="responsive">
            <!-- prepostion -->
            <div id="prepostion_group" class="icon user smallfrom" flex="33">
                <input type="text" name="preposition" id="prepostion" ng-model="person.preposition" placeholder="{{ 'PREPOSITION' | translate }}" required>
            </div>
            <!-- /prepostion -->

            <!-- surName -->
            <div id="surname_group" class="icon user" flex="77">
                <input type="text" name="surname" id="surname" ng-model="person.surname" placeholder="{{ 'SURNAME' | translate }}" required>
                <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.surname.$touched">
                    <span class="text-danger" ng-show="personalDataForm.surname.$error.required">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>
            <!-- /surName -->
        </div>
        <!-- dateOfBirth -->
        <div class="autoDateInput">
            <h3>{{ 'DATE_OF_BIRTH' | translate }}</h3>
            <div id="date" class="icon date">
                <input type="number" id="day" name="day" inputmode="numeric" pattern="[0-9]*" ng-model="date.day" placeholder="DD" maxlength="2" max="31" min="0" required>
                <input type="number" id="month" name="month" inputmode="numeric" pattern="[0-9]*" ng-model="date.month" placeholder="MM" maxlength="2" max="12" min="0" required>
                <input type="number" id="year" name="year" inputmode="numeric" pattern="[0-9]*" ng-model="date.year" placeholder="JJJJ" maxlength="4" max="2016" min="1900" required>
            </div>
            <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.dateOfBirth.$touched || personalDataForm.year.$error.maxlength || personalDataForm.year.$error.max">
                <span class="text-danger" ng-show="personalDataForm.day.$error.required || personalDataForm.month.$error.required || personalDataForm.year.$error.required || personalDataForm.day.$error.maxlength || personalDataForm.month.$error.maxlength">{{ 'REQUIRED' | translate }}</span>
                <span class="text-danger" ng-show="personalDataForm.day.$error.maxlength || personalDataForm.day.$error.required">De dag is ongeldig</span>
                <span class="text-danger" ng-show="personalDataForm.month.$error.maxlength || personalDataForm.month.$error.required">De maand is ongeldig</span>
                <span class="text-danger" ng-show="personalDataForm.year.$error.maxlength || personalDataForm.year.$error.required || personalDataForm.year.$error.max">Het jaar is ongeldig</span>
            </div>
        </div>
        <!-- /dateOfBirth -->

        <!-- gender -->
        <div class="gender--options">
            <div class="gender--options__option">
                <input type="radio" ng-model="genderText" ng-change="person.male = genderText==='male' ? true : (genderText==='female' ? false : null)" id="male" value="male">
                <label for="male">{{ 'MALE' | translate }}</label>
            </div>
            <div class="gender--options__option">
                <input type="radio" ng-model="genderText" ng-change="person.male = genderText==='male' ? true : (genderText==='female' ? false : null)" value="female" id="female">
                <label for="female">{{ 'FEMALE' | translate }}</label>
            </div>
        </div>
        <p class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.genderText.$touched">
            <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
        </p>
        <!-- /gender -->

        <!-- phone number -->
        <h3>{{ 'PHONENUMBER' | translate }}</h3>
        <div ng-repeat="p in person.phoneNumbers" class="field-margin">
            <div class="input-group">
                <span class="input-group-btn" ng-if="person.phoneNumbers.length > 1">
                  <button type="button" class="btn btn-default" ng-click="removePhone(p, $index)"><i class="fa fa-trash-o"></i></button>
          </span>
                <input type="tel" class="form-control" id="number-{{ $index }}" ng-model="p.number">
                <span class="input-group-addon">
                  <input type="checkbox" name="confidential" ng-model="p.confidential" required> {{ 'CONFIDENTIAL' | translate }}
          </span>
            </div>
        </div>
        <!-- /phone number -->

        <h3>{{ 'MY_PROFILE_ADDRESS' | translate }}</h3>
        <div class="responsive">
            <div id="zipcode_group" class="icon home field">
                <input type="text" name="zipcode" id="zipcode" ng-model="person.zipcode" placeholder="{{ 'ZIPCODE' | translate }}" required ng-pattern="/^[1-9][0-9]{3} ?[A-Z,a-z]{2}$/">
                <md-progress-circular class="md-hue-2 right-addon" md-diameter="20px" ng-if="zipcodeAutocompleting"></md-progress-circular>
                <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.zipcode.$touched">
                    <span class="text-danger" ng-show="personalDataForm.zipcode.$error.required">{{ 'REQUIRED' | translate }}</span>
                    <span class="text-danger" ng-show="personalDataForm.zipcode.$error.pattern">Verkeerd formaat</span>
                </div>
            </div>
            <!-- /zipcode -->

            <!-- streetNumber -->
            <div id="streetNumber_group" class="icon home field">
                <input type="text" name="streetNumber" id="streetNumber" ng-model="person.streetNumber" placeholder="{{ 'STREET_NUMBER' | translate }}" required>
                <md-progress-circular class="md-hue-2 right-addon" md-diameter="20px" ng-if="zipcodeAutocompleting"></md-progress-circular>
                <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.streetNumber.$touched">
                    <span class="text-danger" ng-show="personalDataForm.streetNumber.$error.required">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>
            <!-- /streetNumber -->
        </div>
        <!-- streetName -->
        <div id="streetName_group" class="icon home field">
            <input type="text" name="streetName" id="streetName" ng-model="person.streetName" placeholder="{{ 'STREET_NAME' | translate }} " required ng-readonly="person.country === 'Nederland'">
            <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.zipcode.$touched">
                <span ng-show="!person.streetName || personalDataForm.zipcode.$error.pattern">{{ 'ENTER_ZIPCODE_STREET_NUMBER' | translate }}</span>
            </div>
        </div>
        <!-- /streetName -->

        <!-- city -->
        <div id="city_group" class="icon home field">
            <input type="text" name="city" id="city" ng-model="person.city" placeholder="{{ 'CITY' | translate }} " required ng-readonly="person.country === 'Nederland'">
            <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.city.$touched">
                <span ng-if="!person.city">{{ 'ENTER_ZIPCODE_STREET_NUMBER' | translate }}</span>
            </div>
        </div>
        <!-- /city -->

        <!-- iban -->
        <div class="icon bank" ng-if="!ibanIsDefined" ng-show="ownerflow">
            <input type="text" name="iban" id="iban" ng-model="person.iban" placeholder="{{ 'IBAN_NUMBER' | translate }}" required>
            <div class="err-block" ng-show="personalDataForm.$submitted || personalDataForm.iban.$touched">
                <span class="text-danger" ng-show="personalDataForm.iban.$error.required">{{ 'REQUIRED' | translate }}</span>
            </div>
        </div>
        <!-- /iban -->

        <div class="details--card--form__navigation-buttons" ng-if="!ownerflow" >
            <div></div>
            <!-- submit button -->
            <button type="button" class="mywheels-btn mywheels-btn-default btn--navigation__next" ng-click="submitPersonalDataForm()" ng-disabled="personalDataForm.firstName.$error.required || personalDataForm.surname.$error.required || signupform.dateOfBirth.$error.required">
                {{ 'NEXT' | translate }}
                <md-icon class="text-white">navigate_next</md-icon>
            </button>
            <!-- /submit button -->
        </div>
        <div class="details--card--form__navigation-buttons" ng-if="ownerflow">
            <button rel="prev" type="button" class="mywheels-btn mywheels-btn-transparant btn--navigation__previous" md-ink-ripple="#ded8d8" ui-sref="owm.resource.create.carPhotos">
                <md-icon>navigate_before</md-icon>
                {{ 'PREVIOUS' | translate}}
            </button>
            <button type="submit" name="button" ng-disabled="editResourceForm.$pristine" ng-click="submitPersonalDataForm()" class="mywheels-btn mywheels-btn-default btn--navigation__next" ui-sref="owm.resource.create.details">
                Publiceer auto
            </button>
        </div>
    </form>
</div>
