<hr>
<div class="footer text-center">
  {{ 'MYWHEELS_FOOTER' | translate }}<br/>
  <span ng-bind-html="'SEATS2MEET_FOOTER_HTML' | translate"></span>
</div>

<ul class="list-inline text-center" id="language-switch">
  <li>
    <button ng-disabled="currentLanguage() === 'nl_NL'" class="btn btn-link btn-sm" ng-click="changeLanguage('nl_NL')">{{ 'DUTCH' | translate }}</button>
  </li>
  <li>
    <button ng-disabled="currentLanguage() === 'en_GB'" class="btn btn-link btn-sm" href="" ng-click="changeLanguage('en_GB')">{{ 'ENGLISH' | translate }}</button>
  </li>
  <li>
    <button ng-disabled="currentLanguage() === 'fr_FR'" class="btn btn-link btn-sm" href="" ng-click="changeLanguage('fr_FR')">{{ 'FRENCH' | translate }}</button>
  </li>
</ul>

