<div class="container vert-pad-large text-left">

  <div class="col-md-12">
    <h1 style="text-align: center;">Waarom MyWheels?</h1><br />
  </div>

  <div class="col-md-6">
    <div style="box-shadow: 0px 3px 5px #444; padding: 5%; background-color: #82B955; min-height: 18em;"><h2 style="color: #fff;">
      <md-icon style="color: #efefef; vertical-align: top; margin: 1px 10px 0 0;">home</md-icon>&nbsp;Huur in de buurt</h2>
      <p>Met auto's in meer dan 400 plaatsen, is er altijd wel een auto bij jou in de buurt. Boek, een auto, haal de sleutel op en rijden maar! In veel grote steden staan zelfs smartwheels, dat zijn auto's die makkelijk open gaan met je OV-kaart of Smartphone. Ideaal!</p>
      <p style="text-align: right;  position: absolute; bottom: 0px; right: 0; padding-right: 35px;"><a class="btn-success btn" href="" style="color: #fff; border: 1px solid #fff;">Bekijk de auto's >></a></p>
   </div>
  </div>

  <div class="col-md-12" hide-gt-sm>
    <br /><br />
  </div>

  <div class="col-md-6">
    <div style="box-shadow: 0px 3px 5px #444; padding: 5%;background-color: #82B955; min-height: 18em;"><h2 style="color: #fff;">
      <md-icon style="color: #efefef; vertical-align: top; margin: 1px 10px 0 0;">euro_symbol</md-icon>Verhuur en verdien</h2>
      <p>Je auto aanbieden is gratis. We vragen een klein vergoeding zodra je auto gehuurd wordt. En je weet zeker dat je goed verzekerd bent want dat regelen wij voor je. Vul je kenteken in, maak wat mooie foto's en je kan beginnen.</p>
      <p style="text-align: right; position: absolute; bottom: 0px; right: 0; padding-right: 35px;"><a class="btn-success btn" href="" style="color: #fff; border: 1px solid #fff; ">Bereken wat je kunt verdienen >></a></p>
    </div>
  </div>

  <div class="col-md-12">
  <br />
    <div class="col-md-12" style="background-image: url(https://mywheels.nl/branding/img/home-rotate-3.jpg); background-size: width:100%; background-position-y: -180px; background-repeat: no-repeat;">
      <h2 style="color: #fff; text-shadow: 0px 3px 5px #444; text-align: center; padding-top: 40px; padding-bottom: 40px;">Begin direct met huren</h2></span>
      <p style="text-align: center;"><a style="align: center; background-color: #5FAAC8;" href="" ng-click="signup()"class="btn-lg btn-success">{{ 'SIGNUP_SHORT' | translate }}</a></p>
      <br />
    </div>
  </div>

  <div class="col-md-6">
    <br />
    <div style="box-shadow: 0px 3px 5px #444; padding: 5%;background-color: #82B955; min-height: 18em;"><h2 style="color: #fff;">
      <md-icon style="color: #efefef; vertical-align: top; margin: 1px 10px 0 0;">done</md-icon>Het voordeligste</h2>
      <p>MyWheels is de voordeligste, dat kan omdat we non-profit zijn en geen winstoogmerk hebben. Daarom delen onze leden al meer dan tweeduizend auto’s via MyWheels. Vergelijk de tarieven op <a target="_blank" href="https://www.deelauto.nl">deelauto.nl</a> of lees meer over <a href="https://mywheels.nl/autodelen/community/onze-idealen/">onze idealen</a>. Doe mee en steun de deeleconomie!</p>
     <p style="text-align: right; position: absolute; bottom: 0px; right: 0; padding-right: 35px;"><a class="btn-success btn" href="" style="color: #fff; border: 1px solid #fff;">Iets met goedkoop rijden >></a></p> 
    </div>
  </div>

  <div class="col-md-12" hide-gt-sm>
    <br /><br />
  </div>

  <div class="col-md-6">
    <br />
    <div style="box-shadow: 0px 3px 5px #444; padding: 5%;background-color: #82B955; min-height: 18em;"><h2 style="color: #fff;">
      <md-icon style="color: #efefef; vertical-align: top; margin: 1px 10px 0 0;" >directions_car</md-icon>Een passende optie</h2>
      <p>Voor elk type gebruiker hebben we een passend aanbod. Huur je soms? Dan kan je zonder borg direct beginnen met huren, huur je vaak? Voor een tientje per maand krijg je allerlei voordelen die het makkelijk maken.</p>
      <p style="text-align: right; position: absolute; bottom: 0px; right: 0; padding-right: 35px;"><a class="btn-success btn" href="" style="color: #fff; border: 1px solid #fff;">Vergelijk de contracten >> </a></p> 
    </div> 
  </div>

</div>

<div ng-if="features.myWheelsFooter" class="footer-logo-row text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3" hide-xs hide-sm>
        <h2 class="no-margin">In de media</h2>
        <img class="grayscale" src="assets/img/media/de_volkskrant_logo.png" />
        <img class="grayscale" src="assets/img/media/nos_logo.png" />
      </div>
      <div class="col-md-3" hide-xs hide-sm>
        <h2 class="no-margin">&nbsp;</h2>
        <img class="grayscale" src="assets/img/media/de_telegraaf_logo.png" />
        <img class="grayscale" src="assets/img/media/financieel_dagblad_logo.png" />
      </div>
      <div class="col-xs-6 col-md-3">
        <h2 class="no-margin">Partners</h2>
        <img class="grayscale" src="assets/img/partners/centraal_beheer_achmea_logo.png" />
        <img class="grayscale" src="assets/img/partners/green_deal_logo.png" />
      </div>
      <div class="col-xs-6 col-md-3">
        <h2 class="no-margin">&nbsp;</h2>
        <img class="grayscale" src="assets/img/partners/peugeot_assistance_logo.png" />
        <img class="grayscale" src="assets/img/partners/sharenl_logo.png" />
      </div>
    </div>
  </div>
</div>