#resource_roadAssistance {
  display:none;
}
#resource_minimum_age {
	display:none;
}
#person_slug_edit {
	display:none;
}
.home .hero {
    background-position: 35% 80%;
}
@media (max-width: 768px) {
	.home .intro h1 {
		font-size: 32px;
	}
}
@media (max-width:992px) and (min-width:768px) {
	.home .intro .cta {
		padding-top: 105px;
	}
}