*.sw*
*~
.bower-cache
.bower-registry
.bower-tmp
.DS_Store
.idea
.sublime/*.sublime-workspace
.tmp
bin
build
Capfile
config
node_modules
sandbox
src/branding/config.json
test/coverage
/vendor
/nbproject/private/