<form role="form" class="mywheels-form" ng-submit="signup()" name="signupform">
    <div class="">
        <div id="signupFormFacebook" class="">
          <button type="button" ng-click="facebookSignup()" class="btn btn-info" style="background: #3B5998; border-radius: 0; color: #fff; border-width: 1px; border-style: solid; border-color: #263961; width:100%"><i class="fa fa-fw fa-facebook"></i> Registreer met Facebook</button>
            <br><br>
            <span layout="row">
              <hr flex/>
              <span style="padding: 0 1em; font-size: 0.9em">of</span>
              <hr flex/>
            </span>
        </div>

        <div id="firstName_group" class="icon user">
            <input type="text" autocomplete="off" name="firstName" id="firstName" ng-model="user.firstName" placeholder="{{ 'FIRST_NAME' | translate }}" required>
            <div class="help-block" ng-show="signupform.$submitted || signupform.firstName.$touched">
                <span class="text-danger" ng-show="signupform.firstName.$error.required">{{ 'REQUIRED' | translate }}</span>
            </div>
        </div>

        <div id="email_group" class="icon email">
            <input type="email" autocomplete="off" id="email" name="email" ng-model="auth.email" placeholder="{{ 'EMAIL' | translate }}" required>
            <div class="help-block" ng-show="signupform.$submitted || signupform.email.$touched">
                <span class="text-danger" ng-show="signupform.email.$error.required">{{ 'REQUIRED' | translate }}</span>
                <span class="text-danger" ng-show="signupform.email.$error.email">{{ 'EMAIL_NOT_VALID' | translate }}</span>
            </div>
        </div>

        <div id="password_group" class="icon password">
            <input type="password" autocomplete="off" id="password" placeholder="{{ 'PASSWORD' | translate }}" name="password" required ng-model="auth.password" password-strength>
        </div>

        <div id="preference_group" ng-if="!features.hideSignupPreference" ng-show="url === 'owm.person.dashboard'" class="icon car select">
            <label for="preference">{{ 'USER_PREFERENCE_LABEL' | translate }}</label>
            <div class="select-icon">
                <select id="preference" name="preference" ng-model="user.preference" ng-options="o.value as o.label for o in preferenceOptions" required>
                </select>
            </div>
        </div>

        <div class="signup-term">
            <input type="checkbox" id="signup-term" name="signupterm" ng-model="auth.terms" required>
            <label for="signup-term" class="text-muted sign-up-terms" ng-bind-html="'SIGNUP_TERMS_NEW' | translate"></label>
            <div class="help-block" ng-show="signupform.$submitted">
                <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
            </div>
        </div>

    </div>
    <button type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-form-margin" ng-click="signup()" md-ink-ripple="#3a6d81" ng-disabled="signupform.email.$error.required || signupform.firstName.$error.email || signupform.password.$error.required">
        {{ 'SIGNUP' | translate }}
    </button>
    <div>
        <br>
        <md-divider></md-divider>
        <br>
        <p>{{ 'ALREADYSIGNUP' | translate }} <a ng-click="login()">Log in</a></p>
    </div>
</form>
