.card {
  position: relative;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 15px;
  .box-shadow(4px 4px 8px rgba(0, 0, 0, 0.1));

  &-heading {
    padding: 15px;

    .card-title {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info-icon {
      vertical-align: top;
      margin: 0.4em 0.1em 0 0.4em;
      font-size: 0.7em;
      font-weight: normal;
    }
  }

  &-body {
    padding: 15px;
  }

  &-heading + &-body,
  &-heading + .collapse > &-body,
  &-heading + .collapsing > &-body {
    padding-top: 0;
  }

  .card__navbar{
    margin-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #fff;
  }
}

.card__body,
.card--media__body {
  padding-top: 5px;
}


.card-navigation {
  padding: 10px 15px;
}

.card-notice {
  background: rgb(252, 248, 227);
  color: rgb(192, 152, 83);
}


.card-accordion {

  .panel-group {
    margin-bottom: 15px;

    .panel + .panel {
      margin-top: 15px;
    }

    .panel-heading + .panel-collapse > .panel-body {
      border: none;
    }

    .panel-heading + .panel-collapse {
      .panel-body {
        padding-top: 0;
      }
    }
  }



  .panel-heading {
    padding: 15px;
  }

  .panel-title {
    color: @brand-primary;
  }

  .panel-body {
    border: none;
  }

}
