<div class="progress--steps">
    <section class="step" data-section="1" title="Auto gegevens" ng-class="{'selected': pageNumber === 1 ? true : false, 'done': pageNumber > 1 ? true : false }"></section>
    <section class="step" data-section="2" title="Persoons gegevens" ng-class="{'selected': pageNumber === 2 ? true : false, 'done': pageNumber > 2 ? true : false}"></section>
    <section class="step last-step" data-section="3" title="{{isbooking !== true ? 'Auto zoeken' : 'Betalen'}}" ng-class="{'selected': pageNumber === 3 ? true : false, 'done': pageNumber > 3 ? true : false }"></section>
</div>

<section class="container container-main">
    <!-- load the serveral pages here -->
    <ui-view ng-if="!licenceAlreadyListed" />
    <!-- load the serveral pages here -->
    <!-- if the car is already in the database show this -->
    <md-card ng-if="licenceAlreadyListed" class="card">
        <md-card-title>
            <md-card-title-text layout="colum" layout-wrap>
                <h3 class="no-margin" style="font-size: 2rem" flex="100">
                    <span>Sorry, deze auto is al door iemand anders toegevoegd</span>
                </h3>
            </md-card-title-text>
        </md-card-title>
        <md-card-body class="card-body">
            <p>Je kan deze auto niet toevoegen. </p>
            <button type="button" name="button" class="mywheels-btn mywheels-btn-default">Voeg een andere auto toe</button>
        </md-card-body>
    </md-card>
    <!-- /if the car is already in the database show this -->
</section>
