<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ 'BOOKING_INFO' | translate }}</h4>
    </div>

    <div class="modal-body">

        <table class="table">
            <tr>
                <th>{{ 'DATE_START' | translate }}</th>
                <td>{{ booking.beginBooking | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
            </tr>
            <tr>
                <th>{{ 'DATE_END' | translate }}</th>
                <td>{{ booking.endBooking | amDateFormat:'DD-MM-YYYY HH:mm' }}</td>
            </tr>
            <tr>
                <th>{{ 'FIRST_NAME' | translate }}</th>
                <td>
                  <a ng-click="goMember(booking.person.id)">{{ booking.person.firstName }}</a>
                  <info-icon tooltip-html="'BOOKING_INFO_FIRSTNAME_TIP' | translate"></info-icon>
                </td>
            </tr>
        </table>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">OK</button>
    </div>
</div>

<select name="coupon_type" id="dropdown_shop_coupon_type" style="width: 150px; display: none;">
    <option value="">Show all types</option>
    <option value="fixed_cart"></option>
    <option value="percent"></option>
    <option value="fixed_product"></option>
    <option value="percent_product" selected="selected"></option>
</select>
