<div class="card" ng-if="resources.length">
  <div class="card-heading" id="resource-info">
    <h3 class="card-title">
      <a href="" ng-init="isMyResourcesCollapsed = !!(!resources.length)" ng-click="isMyResourcesCollapsed = !isMyResourcesCollapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isMyResourcesCollapsed, 'fa-chevron-down': !isMyResourcesCollapsed }">
      </i>
      {{ 'MY_RESOURCES' | translate }} ({{ resources.length }})
      </a>
    </h3>
  </div>

  <div uib-collapse="isMyResourcesCollapsed">
    <div class="card-body">
      <ul class="list-unstyled list-row">
        <li ng-repeat="resource in resources" >

          <div class="media">
            <img ui-sref="owm.resource.show({ resourceId: resource.id, city: resource.city })"
              class="media-object img-resource-small pull-left"
              ng-src="{{ resource.pictures[0] | resourceAvatar:'small' }}">

            <div class="media-body">

              <div class="pull-right text-right">
                <div>
                  <button ui-sref="owm.resource.edit({ resourceId: resource.id })" type="button" class="btn btn-link">
                    <i class="fa fa-cog"></i> {{ 'EDIT_RESOURCE' | translate }}
                  </button>
                </div>
                <div>
                  <button ng-if="(resource.isAvailableOthers || resource.isAvailableFriends) && resource.isActive" type="button" class="btn btn-link" ng-click="setResourceAvailability(resource, false)">
                    <i class="fa fa-times"></i> {{ 'AVAILABLE_RESOURCE' | translate }}
                  </button>
                  <button ng-if="!resource.isAvailableOthers && !resource.isAvailableFriends && resource.isActive" type="button" class="btn btn-link" ng-click="setResourceAvailability(resource, true)">
                    <i class="fa fa-check"></i> {{ 'NOT_AVAILABLE_RESOURCE' | translate }}
                  </button>
                </div>
                <parkingpermit ng-if="features.parkingpermit" resource="resource" resource-list="resources"></parkingpermit>
              </div>

              <div class="resource__alias truncate" ui-sref="owm.resource.show({ resourceId: resource.id, city: resource.city })">
                {{ resource.alias }} {{ resource.registrationPlate | surroundWith : '(' : ')' }}
              </div>

              <div class="truncate">
                <i class="fa fa-map-marker"></i>&nbsp;{{ resource.location }} {{ resource.city }}
              </div>

              <div ng-if="!resource.isActive" class="text-danger">
                <i class="fa fa-exclamation-circle fa-fw"></i>{{ 'RESOURCE_INACTIVE_WARNING' | translate }}
              </div>

              <div ng-if="(resource.isAvailableOthers || resource.isAvailableFriends) && resource.isActive" class="text-success">
                <i class="fa fa-check fa-fw"></i>{{ 'RESOURCE_AVAILABLE' | translate }}
              </div>

              <div ng-if="!resource.isAvailableOthers && !resource.isAvailableFriends && resource.isActive" class="text-danger">
                <i class="fa fa-exclamation-circle fa-fw"></i>{{ 'RESOURCE_NOT_AVAILABLE_WARNING' | translate }}
              </div>

            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card" ng-if="features.ownerFlow">
  <div class="card-heading">
    <div ng-show="!resources.length">
      <h2 class="card-title">
        Je hebt nog geen auto toegevoegd
      </h2>
      <br/>
    </div>
    <button type="button" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="list-your-car">
      {{ 'CREATE_RESOURCE_BUTTON' | translate }}
    </button>
  </div>
</div>

<div class="card" ng-if="!features.ownerFlow">
  <div class="card-heading">
    <h2 class="card-title" ng-show="!resources.length">
      {{ 'CREATE_RESOURCE_TITLE' | translate }}
    </h2>

    <h3 class="card-title" ng-show="resources.length">
      <a href="" ng-init="isCreateCollapsed = !!(resources.length)" ng-click="isCreateCollapsed = !isCreateCollapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isCreateCollapsed, 'fa-chevron-down': !isCreateCollapsed }">
      </i>
      {{ 'CREATE_RESOURCE_TITLE' | translate }}
      </a>
    </h3>
  </div>

  <div uib-collapse="isCreateCollapsed">
    <div class="card-body">
      <p>{{ 'CREATE_RESOURCE_ADVERTISEMENT1' | translate }}</p>

      <form ng-submit="save(resource)" name="createResourceForm">
        <div class="form-group">
          <label for="registrationPlate">{{'REGISTRATION_PLATE' | translate}}</label>
          <input class="form-control" type="text" id="registrationPlate" name="registrationPlate" ng-model="resource.registrationPlate" required />
        </div>

        <div class="form-group">
          <button id="submitForm" type="submit" class="btn btn-primary" ng-disabled="createResourceForm.$pristine">{{ 'SUBMIT' | translate }}</button>
        </div>
      </form>

      <p class="text-muted" ng-bind-html="'CREATE_RESOURCE_INFO_HTML' | translate"></p>
    </div>
  </div>

</div>