<div ng-if="result.success" class="card">
  <div class="card-body">
    <h2 class="card-title">
    <i class="fa fa-fw fa-check text-success"></i>
      {{ 'PAYMENT_SUCCESS_TITLE' | translate }}
    </h2>
    <p>
      {{ 'PAYMENT_SUCCESS_BODY' | translate }}
    </p>
    <button ng-if="afterPayment" ng-click="goAfterPayment()" type="button" class="btn btn-primary">
      Ga verder
    </button>
    <button ng-if="!afterPayment" ui-sref="home" type="button" class="btn btn-primary">
      {{ 'OK' | translate }}
    </button>
  </div>
</div>

<div ng-if="!result.success" class="card">
  <div class="card-body">
    <h2 class="card-title">
      <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
      {{ 'PAYMENT_FAILURE_TITLE' | translate }}
    </h2>
    <p>
      {{ 'PAYMENT_FAILURE_BODY' | translate }}
    </p>

    <button ng-if="afterPayment" ng-click="goAfterPayment()" type="button" class="btn btn-primary">
      Ga verder
    </button>

    <div ng-if="!afterPayment">
		<button ui-sref="owm.person.dashboard" class="btn btn-primary">{{ 'MY_DASHBOARD' | translate }}</button>
    </div>

  </div>
</div>
