<div ng-if="orderStatusId > 0" class="card">
  <div class="card-body">
    <h2 class="card-title">
    <i class="fa fa-fw fa-check text-success"></i>
      {{ 'PAYMENT_SUCCESS_TITLE' | translate }}
    </h2>
    <p>
      {{ 'PAYMENT_SUCCESS_BODY' | translate }}
    </p>
    <button ui-sref="home" type="button" class="btn btn-primary">{{ 'OK' | translate }}</button>
  </div>
</div>

<div ng-if="!(orderStatusId > 0)" class="card">
  <div class="card-body">
    <h2 class="card-title">
      <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
      {{ 'PAYMENT_FAILURE_TITLE' | translate }}
    </h2>
    <p>
      {{ 'PAYMENT_FAILURE_BODY' | translate }}
    </p>
    <button ng-if="features.invoiceModuleV1" ui-sref="owm.financeV1.index" class="btn btn-primary">Mijn facturen</button>
    <button ng-if="features.invoiceModuleV2" ui-sref="owm.finance.index" class="btn btn-primary">{{ 'MY_FINANCIALS' | translate }}</button>
  </div>
</div>
