<div class="card" ng-show="!isLoadingContracts">
  <div class="card-heading">
    <h2 class="card-title">{{ 'MY_CONTRACTS' | translate }}</h2>
  </div>

  <div class="card-body">

    <!-- own contracts -->

    <div class="alert alert-warning" ng-show="!ownContracts.length && !otherContracts.length">
      {{ 'PERSON.CONTRACT.LIST.NO_OWN_CONTRACTS' | translate }}
    </div>

    <div class="well" ng-show="ownContracts.length" ng-repeat="contract in ownContracts">
      <div>
        <div class="pull-right">
          <button class="btn btn-link" ng-click="blockContract($index)">{{ 'CONTRACT_END_ACTION' | translate }}</button>
        </div>

        <h4>{{ contract.type.name }} <small>({{ contract.id }})</small></h4>

        <!-- MAY BE HIDDEN BY BRANDING CSS: edit_contract_button -->
        <div id="edit_contract_button" ng-if="contract.type.id !== 60">
          <form name="editForm">
            <div class="form-group">
              <label>{{ 'CONTRACT.PROP.OWNRISKWAIVER' | translate }}</label>
              <div class="radio">
                <label>
                <input type="radio" value="not" ng-model="contract.ownRiskWaiver" />
                  {{ 'CONTRACT.PROP.OWNRISKWAIVER.NOT.DESC' | translate }}<br/>
                </label>
              </div>

              <div class="radio">
                <label>
                <input type="radio" value="booking" ng-model="contract.ownRiskWaiver" />
                  {{ 'CONTRACT.PROP.OWNRISKWAIVER.BOOKING.DESC' | translate }}<br/>
                </label>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="saveContract($index, editForm)" ng-disabled="busy || editForm.$pristine">
              {{ 'SAVE' | translate }}
            </button>
          </form>
          <br/>
        </div>

        <p><b>{{ 'PERSON.CONTRACT.OTHER_CONTRACTS_PERSONS' | translate }}:</b></p>
        <ul class="list-group">
          <!-- persons -->
          <li class="list-group-item" ng-repeat="person in getContractPersons(contract)">
            <a href="" class="pull-right" ng-if="person.id" ng-click="removePerson(contract, person)">{{ 'REMOVE' | translate }}</a>
            <div ng-if="person.firstName">
              {{ person.firstName }} {{ person.preposition }} {{ person.surname }} {{ person.email | surroundWith : '&lt;' : '&gt;' }}
            </div>
            <div ng-if="!person.firstName">
              Uitgenodigd persoon {{ person.email | surroundWith : '&lt;' : '&gt;' }}
            </div>
          </li>
        </ul>

        <form name="form">
          <div class="input-group" ng-class="{ 'has-error' : form.email.$error.email }">
            <input type="email" required name="email" class="form-control" placeholder="{{ 'EMAIL' | translate }}" ng-model="contract.emailToAdd" />
            <div class="input-group-btn">
              <button class="btn btn-default"
                ng-disabled="form.email.$error.required || form.email.$error.email"
                ng-click="addPerson($index)">{{ 'ADD' | translate }}</button>
            </div>
          </div>
        </form>


      </div>
    </div>

    <!-- other contracts -->

    <div ng-show="otherContracts.length">
      <h2>{{ 'PERSON.CONTRACT.OTHER_CONTRACTS' | translate }}</h2>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="contract in otherContracts">
          <h4>{{ contract.type.name }} <small>({{ contract.id }})</small></h4>
          <b>
            {{ contract.contractor.firstName }}
            {{ contract.contractor.preposition }}
            {{ contract.contractor.surname }}</b>&nbsp;&lt;{{ contract.contractor.email }}&gt;
        </li>
      </ul>
    </div>

  </div>
</div>
