<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="isVouchersCollapsed = !isVouchersCollapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isVouchersCollapsed, 'fa-chevron-down': !isVouchersCollapsed }"></i>
        Tegoedbonnen
      </a>
    </h3>
  </div>

  <div collapse="isVouchersCollapsed">
    <div class="card-body">

      <div style="margin-bottom: 15px;">
        <span ng-if="!credit" class="text-muted">
          <i class="fa fa-spin fa-spinner"></i>&nbsp;Tegoed ophalen...
        </span>
        <h1 ng-if="credit && !credit.error">
          {{ credit.value | currency }}
        </h1>
        <span ng-if="credit.error">
          <i class="fa fa-warning text-warning"></i>&nbsp;Je tegoed is op dit moment niet beschikbaar
        </span>
      </div>

      <div ng-if="requiredValue" style="margin-bottom: 15px;">
        <span ng-if="requiredValue.value.voucher > 0">
          Je hebt nog {{ requiredValue.value.voucher | currency }} (extra) rijtegoed nodig voor jouw reserveringen
          <info-icon tooltip-html="'Omdat we nog niet weten hoeveel kilometers je zal rijden vragen we je meer rijtegoed te kopen dan je rit waarschijnlijk zal kosten. Dit bedrag vraag je na je rit eenvoudig terug, of bewaar je voor een volgende rit'"></info-icon>
        </span>
        <span ng-if="credit.value && !requiredValue.error && !(requiredValue.value.voucher > 0)">
          Je hebt voldoende rijtegoed voor jouw huidige reserveringen
        </span>
        <span ng-if="requiredValue.error && !credit.error">
          <i class="fa fa-warning text-warning"></i>&nbsp;We kunnen op dit moment niet zien of je voldoende rijtegoed hebt voor jouw reserveringen
        </span>
      </div>

      <!-- call to action (buy voucher)-->
      <div ng-show="credit && !showVoucherOptions" style="margin-bottom: 15px">

        <!-- button with suggested value -->
        <div ng-if="requiredValue.value.voucher > 0">
          <button type="button" class="btn btn-success" ng-click="buyVoucher(requiredValue.value.voucher)">
            Koop tegoedbon van {{ requiredValue.value.voucher | currency }}
          </button>
          <button type="button" class="btn btn-link" ng-click="toggleVoucherOptions(true)">
            Ander bedrag
          </button>
        </div>

        <!-- button toggle voucher options -->
        <div ng-if="!(requiredValue.value.voucher > 0)">
          <button type="button" class="btn btn-success" ng-click="toggleVoucherOptions(true)">Koop tegoedbon</button>
        </div>
      </div>

      <!-- voucher options -->
      <div ng-show="showVoucherOptions" style="margin-bottom: 15px;">
        <div style="margin-bottom: 5px"><b>Kies bedrag:</b></div>
        <div class="clearfix" style="margin: 0 -5px 15px -5px">
          <div ng-repeat="option in voucherOptions" class="pull-left" style="width: 20%; padding: 5px">
            <button ng-click="buyVoucher(option)" type="button" class="btn btn-block btn-success">{{ option | currency }}</button>
          </div>
        </div>
        <a href="" ng-click="toggleVoucherOptions(false)">Annuleren</a>
      </div>

      <div ng-if="vouchers">
        <div ng-if="vouchers.length">
          <ul class="list-unstyled list-spaced fa-ul">
            <li ng-repeat="voucher in vouchers">
              <i class="text-success fa fa-li fa-gift"></i>
              <b>{{ voucher.value | currency }}</b>
              <span class="text-muted">betaald op {{ voucher.paid | amDateFormat : 'DD-MM-YY HH:MM' }}</span>
            </li>
          </ul>
        </div>
      </div>

    </div><!-- /body -->
  </div><!-- /collapse -->
</div><!-- /card -->
