<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      <p>
        <i class="fa fa-fw fa-frown-o"></i>
      </p>
    </h2>
    We kunnen op dit moment helaas niet zien of je voldoende rijtegoed hebt voor jouw reserveringen. Probeer het later nog eens, of neem contact met ons op.
  </div>
</div>

<p>of:</p>

<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      <p><i class="fa fa-fw fa-check-circle text-success"></i>Je hebt nog voldoende rijtegoed</p>
    </h2>

    <div ng-show="credit && !showVoucherOptions">
      <!-- button toggle voucher options -->
      <div>
        Klik <a ng-click="toggleVoucherOptions(true)">hier</a> om extra rijtegoed te kopen. Wil je rijtegoed laten terugstorten? Ga dan naar <a>Mijn Financiën</a>.
      </div>
    </div>

    <!-- voucher options -->
    <div ng-show="showVoucherOptions">
      <div class="clearfix" style="margin: 0 -5px 15px -5px">
        <div ng-repeat="option in voucherOptions" class="pull-left" style="width: 20%; padding: 5px">
          <button ng-click="buyVoucher(option)" type="button" class="btn btn-block btn-success">{{ option | currency }}</button>
        </div>
      </div>
      <a href="" ng-click="toggleVoucherOptions(false)">Annuleren</a>
    </div>

  </div>
</div>


<p>of:</p>


<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      Vul je rijtegoed aan
      <info-icon tooltip-html="'Koop rijtegoed om je ritten te betalen. Je kunt het eenvoudig terug laten storten.'" tooltip-placement="bottom"></info-icon>
    </h2>
  </div>

  <div class="card-body">
    <p>
    Je hebt nog <b>{{ requiredValue.value.voucher | currency }}</b> extra rijtegoed nodig voor jouw reserveringen.
    </p>

    <div ng-show="credit && !showVoucherOptions">

      <!-- button with suggested value -->
      <div ng-if="requiredValue.value.voucher > 0">
        <button type="button" class="btn btn-success" ng-click="buyVoucher(requiredValue.value.voucher)">
          Koop {{ requiredValue.value.voucher | currency }} rijtegoed
        </button>
        <button type="button" class="btn btn-link" ng-click="toggleVoucherOptions(true)">
          Ander bedrag
        </button>
      </div>

      <!-- button toggle voucher options -->
      <div ng-if="!(requiredValue.value.voucher > 0)">
        <button type="button" class="btn btn-success" ng-click="toggleVoucherOptions(true)">Koop rijtegoed</button>
      </div>
    </div>

    <!-- voucher options -->
    <div ng-show="showVoucherOptions">
      <div class="clearfix" style="margin: 0 -5px 15px -5px">
        <div ng-repeat="option in voucherOptions" class="pull-left" style="width: 20%; padding: 5px">
          <button ng-click="buyVoucher(option)" type="button" class="btn btn-block btn-success">{{ option | currency }}</button>
        </div>
      </div>
      <a href="" ng-click="toggleVoucherOptions(false)">Annuleren</a>
    </div>

  </div>
</div>


<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="">
        Openstaande facturen
      </a>
      {{ requiredValue.value.debt | currency }}
    </h3>
  </div>
  <div collapse="true">
    <div class="card-body">
    </div>
  </div>
</div><!-- /card -->


<div class="card" ng-repeat="booking in requiredValue.value.bookings" ng-init="isOpen={}; isOpen[0]=true">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="isOpen[$index] = !!!isOpen[$index]">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !isOpen[$index], 'fa-chevron-down': isOpen[$index] }"></i>
        {{ booking.title }}
      </a>
      {{ (booking.booking_price.total + booking.km_price) | currency }}
    </h3>
  </div>
  <div collapse="!isOpen[$index]">
    <div class="card-body">

      <table class="table">
        <tbody>
          <tr>
            <td>Huur</td><td>{{ booking.booking_price.total | currency }}</td>
          </tr>
          <tr>
            <td>
              Geschatte kilometers
              <info-icon tooltip-placement="bottom" tooltip-html="'Omdat we nog niet weten hoeveel kilometers je zal rijden vragen we je meer rijtegoed te kopen dan je rit waarschijnlijk zal kosten. Dit bedrag vraag je na je rit eenvoudig terug, of bewaar je voor een volgende rit'"></info-icon>            </td><td>{{ booking.km_price | currency }}</td>
          </tr>
          <tr>
            <td>Totaal</td><td>{{ (booking.booking_price.total + booking.km_price) | currency }}</td>
          </tr>
        </tbody>
      </table>

      <a ui-sref="owm.booking.show({ bookingId: booking.id })">
        Ga naar boeking »
      </a>
    </div>
  </div>
</div><!-- /card -->



<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="">
        <i class="fa fa-fw fa-chevron-right"></i>
        Rit op ...
      </a>
      {{ 0 | currency }}
    </h3>
  </div>
  <div collapse="true">
    <div class="card-body">
    </div>
  </div>
</div><!-- /card -->



<div class="card">
  <div class="card-heading">
    <h2 class="card-title">Rijtegoed</h2>
  </div>

  <div class="card-body">
    <!-- credit -->
    <div style="margin-bottom: 15px;">
      <span ng-if="!credit" class="text-muted">
        <i class="fa fa-spin fa-spinner"></i>&nbsp;Tegoed ophalen...
      </span>

      <span ng-if="credit.error">
        <i class="fa fa-warning text-warning"></i>&nbsp;Je rijtegoed is op dit moment niet beschikbaar.
      </span>

      <div ng-if="credit && !credit.error">
        <table class="table">
        <tr><td>Huidig rijtegoed</td><td>{{ credit.value | currency }}</td></tr>
        <tr><td>AF: Openstaande bedragen</td><td>{{ requiredValue.value.sub_total | currency }}</td></tr>
        <tr><td>Benodig extra rijtegoed</td><td>{{ requiredValue.value.total | currency }}</td></tr>
        <tr><td><b>Benodig extra rijtegoed (afgerond)</b></td><td><b>{{ requiredValue.value.voucher | currency }}</b></td></tr>
      </div>

    </div>
  </div>

</div><!-- /card -->

