<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      Mijn rijtegoed
      <info-icon tooltip-html="'Koop rijtegoed om je ritten te betalen. Je kunt het eenvoudig terug laten storten.'" tooltip-placement="bottom"></info-icon>
    </h2>
  </div>

  <div class="card-body">

    <!-- credit -->
    <div style="margin-bottom: 15px;">
      <span ng-if="!credit" class="text-muted">
        <i class="fa fa-spin fa-spinner"></i>&nbsp;Tegoed ophalen...
      </span>

      <div ng-if="credit && !credit.error">
        <h1>{{ credit.value | currency }}</h1>
      </div>

      <span ng-if="credit.error">
        <i class="fa fa-warning text-warning"></i>&nbsp;Je rijtegoed is op dit moment niet beschikbaar.
      </span>
    </div>

    <!-- notice -->
    <div ng-if="requiredValue" style="margin-bottom: 15px;">

      <div ng-if="requiredValue.value.voucher > 0">
        <i class="fa fa-exclamation-circle text-danger"></i> Je hebt nog <b>{{ requiredValue.value.voucher | currency }}</b> (extra) rijtegoed nodig voor jouw reserveringen.
        Klik <a href="" ng-click="showRequiredValueDetails(requiredValue.value)">hier</a> om te zien hoe dit bedrag is opgebouwd.
      </div>

      <span ng-if="credit.value && !requiredValue.error && !(requiredValue.value.voucher > 0)">
        Je hebt voldoende rijtegoed voor jouw huidige reserveringen.
        Klik <a href="" ng-click="showRequiredValueDetails(requiredValue.value)">hier</a> voor details.
      </span>

      <span ng-if="requiredValue.error && !credit.error">
        <i class="fa fa-warning text-warning"></i>&nbsp;
        We kunnen op dit moment niet zien of je voldoende rijtegoed hebt voor jouw reserveringen.
      </span>
    </div>

    <!-- call to action (buy voucher)-->
    <div ng-show="credit && !showVoucherOptions" style="margin-bottom: 15px">

      <!-- button with suggested value -->
      <div ng-if="requiredValue.value.voucher > 0">
        <button type="button" class="btn btn-success" ng-click="buyVoucher(requiredValue.value.voucher)">
          Koop {{ requiredValue.value.voucher | currency }} rijtegoed
        </button>
        <button type="button" class="btn btn-link" ng-click="toggleVoucherOptions(true)">
          Ander bedrag
        </button>
      </div>

      <!-- button toggle voucher options -->
      <div ng-if="!(requiredValue.value.voucher > 0)">
        <button type="button" class="btn btn-success" ng-click="toggleVoucherOptions(true)">Koop rijtegoed</button>
      </div>
    </div>

    <!-- voucher options -->
    <div ng-show="showVoucherOptions" style="margin-bottom: 15px;">
      <div style="margin-bottom: 5px"><b>Kies bedrag</b></div>
      <div class="clearfix" style="margin: 0 -5px 15px -5px">
        <div ng-repeat="option in voucherOptions" class="pull-left" style="width: 20%; padding: 5px">
          <button ng-click="buyVoucher(option)" type="button" class="btn btn-block btn-success">{{ option | currency }}</button>
        </div>
      </div>
      <a href="" ng-click="toggleVoucherOptions(false)">Annuleren</a>
    </div>

  </div><!-- /body -->

</div><!-- /card -->

<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ui-sref="owm.finance.v3Index">{{ 'MY_FINANCE' | translate }}</a>
    </h3>
  </div>
</div>
