<div class="input-group" style="box-shadow: 4px 6px 8px rgba(0,0,0, 0.35); padding-left:8px; padding-right:8px;">
  <input type="text" ow-geocoder="{ onDetails: doSearch }" ng-model="search.text" class="form-control" placeholder="Waar wil je huren?" style="font-weight: normal;" />
  <div class="input-group-btn" hide-xs>
    <button type="button" class="btn btn-success" style="border-radius: 0px 4px 4px 0px;" ng-click="doSearch()">Zoek</button>
  </div>
  <div class="input-group-btn" hide-gt-xs>
    <button type="button" class="btn btn-success" style="width: 60px;" ng-click="doSearch()"><md-icon style="color: #fff;">search</md-icon></button>
  </div>
</div>
