<form role="form">
    <div class="form-group">
        <label for="smartwheels">{{ 'SMART_WHEELS_TIP' | translate }}</label>
        <md-switch name="smartwheels" id="smartwheels" ng-model="filters.smartwheels" aria-label="smartwheels" ng-true-value="'true'"></md-switch>
        <md-tooltip>
            {{ 'SMART_WHEELS_INFO' | translate }}
        </md-tooltip>
    </div>
    <div class="form-group" >
        <md-input-container>
            <label> {{ 'SEARCH_RADIUS' | translate }}</label>
            <md-select ng-model="props.radius" name="radius" id="radius">
                <md-option ng-repeat="distance in radiusOptions" value="{{distance.value}}">
                    {{distance.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <label> {{ 'MIN_SEATS' | translate }}</label>
            <md-select ng-model="filters.minSeats" name="minSeats" id="minSeats">
                <md-option ng-repeat="seat in minSeatOptions" value="{{seat.value}}">
                    {{seat.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <label for="fuelType"> {{ 'FUEL_TYPE' | translate }}</label>
            <md-select ng-model="filters.fuelType" name="fuelType" id="fuelType">
                <md-option ng-repeat="type in fuelTypeOptions" value="{{type.value}}">
                    {{type.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <label for="resourceType"> {{ 'RESOURCE_TYPE' | translate }}</label>
            <md-select ng-model="filters.resourceType" name="resourceType" id="resourceType">
                <md-option ng-repeat="type in resourceTypeOptions" value="{{type.value}}">
                    {{type.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="form-group">
        <label>Opties</label>
        <div class="checkbox" ng-repeat="(key, value) in options">
            <md-checkbox ng-model="options[key]" id="{{key}}" class="md-primary ">
              {{optionsLabels[key]}}
            </md-checkbox>
        </div>
    </div>

</form>
