<div class="card">
  <div class="card-heading">
    <h2 class="card-title">{{ 'AUTH_CHANGE_PWD_PAGE_TITLE' | translate }}</h2>
  </div>

  <div class="card-body">
    <form name="form">

      <!-- Old password not supported yet, disabled for now -->
      <!--
      <div class="form-group">
        <label>{{ 'OLD_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" ng-model="oldPassword" required />
      </div>
      -->

      <div class="form-group">
        <label>{{ 'NEW_PASSWORD' | translate }}</label>
        <input type="password" class="form-control" ng-model="newPassword" required password-strength />
      </div>

      <div class="form-group">
        <label>{{ 'REPEAT_PASSWORD' | translate }}</label>
        <input name="repeatPassword" type="password" class="form-control" ng-model="newPasswordRepeat" required match="newPassword" />
        <div class="help-block" ng-show="!form.repeatPassword.$error.required && form.$error.match"><span class="text-danger">{{ 'PASSWORD_NO_MATCH' | translate }}</span>
        </div>

      </div>

      <button type="button" class="btn btn-primary" ng-disabled="!form.$valid || busy" ng-click="submit()">{{ 'SAVE' | translate }}</button>
    </form>

  </div>
</div>
