<div class="card">
  <div class="card-heading">
    <h2 class="card-title" ng-bind="'AUTH.RESET_PASSWORD_PAGE_TITLE' | translate"></h2>
  </div>

  <div class="card-body">
    <p ng-bind="'AUTH.RESET_PASSWORD_TEXT' | translate"></p>

    <form name="form">
      <div class="form-group">
        <label ng-bind="'EMAIL' | translate"></label>
        <input type="email" class="form-control" ng-model="email" required />
      </div>
      <button type="button" class="btn btn-primary" ng-disabled="!form.$valid || isBusy" ng-click="submit()">Verstuur</button>
    </form>

    <br/>
    <div class="text-muted" ng-bind-html="'AUTH.RESET_PASSWORD_FOOTER_HTML' | translate"></div>

  </div>
</div>
