<div class="global-spinner" ng-show="loader" type="loader.type"><i class="fa fa-spin fa-2x fa-fw fa-spinner"></i></div>
<div class="alerts" ng-controller="MyAlertController">
  <div class="container">
  	<alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
      <i ng-if="alert.type==='danger'" class="fa fa-fw fa-exclamation-triangle"></i>
      <i ng-if="alert.type==='success'" class="fa fa-fw fa-check"></i>
      <i ng-if="alert.type==='info'" class="fa fa-fw fa-info-circle"></i>
      <span ng-if="!alert.msg" ng-bind="'GLOBAL.MESSAGE.GENERIC_ERROR' | translate"></span>
      <span ng-bind-html="alert.msg"> </span>&nbsp;
    </alert>
  </div>
</div>
