<div ng-if="hasPermission">

  <md-card>
    <md-card-header class="blue-header">
      <md-card-header-text>
        <span class="md-title">
          Mijn auto
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div ng-include="'resource/partials/resource-header3.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- data -->
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
          <a href="" ng-init="isDataCollapsed = true" ng-click="isDataCollapsed = !isDataCollapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isDataCollapsed, 'fa-chevron-down': !isDataCollapsed }"></i>
            {{ 'DATA' | translate }}
          </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isDataCollapsed">
      <div ng-include="'resource/edit/data/resource-edit-data.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- sharing settings -->
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
          <a href="" ng-init="isSharingSettingsCollapsed = true" ng-click="isSharingSettingsCollapsed =!isSharingSettingsCollapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isSharingSettingsCollapsed, 'fa-chevron-down': !isSharingSettingsCollapsed }"></i>
            {{ 'SHARING_SETTINGS' | translate }}
          </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isSharingSettingsCollapsed">
      <div ng-include="'resource/edit/sharing_settings/resource-edit-sharing_settings.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- price -->
  <!-- NOTE: MAY BE HIDDEN IN BRANDING CSS (based on id=price) -->
  <md-card id="price">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
          <a href="" ng-init="isPriceCollapsed = true" ng-click="isPriceCollapsed = !isPriceCollapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isPriceCollapsed, 'fa-chevron-down': !isPriceCollapsed }"></i>
            {{ 'RESOURCE_PRICE' | translate }}
          </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isPriceCollapsed">
        <div ng-include="'resource/edit/price/resource-edit-price.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- photos -->
  <md-card ng-show="resource.provider.id !== 5">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
        <a href="" ng-init="isPhotosCollapsed = true" ng-click="isPhotosCollapsed = !isPhotosCollapsed">
          <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isPhotosCollapsed, 'fa-chevron-down': !isPhotosCollapsed }"></i>
          {{ 'RESOURCE_PICTURES' | translate }}
        </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isPhotosCollapsed">
      <div ng-include="'resource/edit/pictures/resource-edit-pictures.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- location -->
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
        <a href="" ng-click="toggleLocation()">
          <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isLocationCollapsed, 'fa-chevron-down': !isLocationCollapsed }"></i>
          {{ 'LOCATION' | translate }}
        </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isLocationCollapsed">
      <div ng-include="'resource/edit/location/resource-edit-location.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- members -->
  <!-- do not show card if the resource is not available for others and if resource provider is not 1 -->
  <md-card ng-if="!hiddenCards.friends">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
        <a href="" ng-init="isMembersCollapsed = true" ng-click="isMembersCollapsed = !isMembersCollapsed">
          <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isMembersCollapsed, 'fa-chevron-down': !isMembersCollapsed }"></i>
          {{ 'RESOURCE_MEMBERS' | translate }}
        </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isMembersCollapsed">
      <div ng-include="'resource/edit/members/resource-edit-members.tpl.html'"></div>
    </md-card-content>
  </md-card>

  <!-- discounts -->
  <md-card ng-if="features.discounts" ng-show="resource.provider.id !== 5">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
          <a href="" ng-init="isDiscountCollapsed = true" ng-click="isDiscountCollapsed = !isDiscountCollapsed">
            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isDiscountCollapsed, 'fa-chevron-down': !isDiscountCollapsed }"></i>
            {{ 'RESOURCE_DISCOUNTS' | translate }}
          </a>
        </span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content uib-collapse="isDiscountCollapsed">
      <discount-list me="me" resource="resource" />
    </md-card-content>
  </md-card>

  <!-- calendar -->
  <md-card ng-show="resource.provider.id !== 5">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">
        <a ng-href="{{ $state.href('owm.resource.calendar', { city: resource.city, resourceId: resource.id }) }}">
          {{ 'RESOURCE_EDIT_CALENDAR' | translate }}
        </a>
        </span>
      </md-card-header-text>
    </md-card-header>
  </md-card>

</div><!-- /hasPermission -->
