<md-dialog flex-xs="100" flex-sm="70" flex-md="50" flex-lg="30" flex-xl="30">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Registreren</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" class="md-dialog-content">
        <p>Maak een gratis account aan om deze auto te huren.</p>
        <div flex>

        </div>
        <div flex layout="row" layout-align="center" style="min-height: 25em;">
            <div flex>
                <div signup-form></div>
            </div>

        </div>
    </md-dialog-content>
</md-dialog>
