<md-dialog flex-xs="100" flex-sm="70" flex-md="50" flex-lg="30" flex-xl="15">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'CREATE_ACCOUNT_TWO' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" class="md-dialog-content">
        <div flex>
        </div>
        <div flex layout="row" layout-align="center" style="min-height: 20em;">
            <div flex>
                <div signup-form></div>
                <span style="margin: 15px 0; color: #999;" layout="row"><hr style="margin-right: 8px" flex/> of <hr style="margin-left: 8px" flex/></span>
                <button type="button" ng-click="login()" class="mywheels-btn mywheels-btn-default" md-ink-ripple="#3a6d81">
                    {{ 'LOGIN' | translate }}
                </button>
                <p style="margin: 10px 0; color: #b1adad;">Wanneer u al een account heeft</p>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
