<md-card class="ow-card">

  <div class="md-card-image"
       ng-click="select()"
       style="position: relative">
    <ow-resource-picture resource="resource" size="large"></ow-resource-picture>

    <div style="position: absolute; bottom: 16px; right: 16px; text-align: right; border-radius: 4px; background: rgba(0, 0, 0, 0.35); color: #fff; padding: 8px">
      <h2 class="no-margin" style="color:#fff">
        {{ resource.price.dayRateTotal | currency }}
      </h2>
      <div ng-if="resource.price.kmFree" class="text-success">
        <small>{{ 'FREE_KM_DAY' | translate }}</small>
      </div>
    </div>

  </div>

  <md-card-title>
    <md-card-title-text>
      <h3 class="no-margin" style="font-size: 2rem">
        <a>{{ resource.alias || ('RESOURCE_NO_NAME' | translate) }}</a>
      </h3>
      <span class="md-subhead" ng-if="resource.brand || resource.model">{{ (resource.brand + ' ' + resource.model) | toTitleCase }}</span>
    </md-card-title-text>
  </md-card-title>

  <md-list class="ow-list-compact">
    <md-list-item>
      <md-icon>location_on</md-icon>
      <div flex>
        <span>
          {{ resource.location }}
          {{ resource.city }}
          <span ng-if="resource.distance_to"> ({{ resource.distance_to | formatKilometers }})</span>
        </span>
      </div>
    </md-list-item>

    <md-list-item>
      <md-icon>person</md-icon>
      <div flex>
        {{ resource.owner.firstName }}
        <span ng-if="features.ratings && resource.rating" rating-thumb="{ value : resource.rating.satisfaction, senders : resource.rating.senders }"></span>
      </div>
    </md-list-item>

  </md-list>

</md-card>
