<div class="row" id="auth-signup">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
    <a href="" ui-sref="home"><img class="img-responsive center-block" src="branding/img/logo-head.png"></a>
    <br/>
    <h3>{{ 'SIGNUP_HEADING' | translate }}</h3>

    <form role="form" class="form" ng-submit="signup()">
      <div class="form-group" id="firstName_group">
        <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
        <input type="firstName" autocomplete="off" class="form-control" id="firstName" required ng-model="user.firstName">
      </div>
      <div class="form-group" id="preference_group">
        <label for="preference">{{ 'USER_PREFERENCE_LABEL' | translate }}</label>
        <select class="form-control" id="preference" name="preference" ng-model="user.preference" required ng-options="o.value as o.label for o in preferenceOptions">
        </select>
      </div>
      <div class="form-group" id="email_group">
        <label for="email">{{ 'EMAIL' | translate }}</label>
        <input type="email" autocomplete="off" class="form-control" id="email" required ng-model="auth.email">
      </div>
      <div class="form-group" id="password_group">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input type="password" autocomplete="off" class="form-control" id="password" required ng-model="auth.password" password-strength>
      </div>
      <div class="form-inline">
        <button type="submit" class="btn btn-primary">{{ 'SIGNUP' | translate }}</button>
      </div>
    </form>
    <hr>
    <p class="text-muted">{{ 'ALREADY_MEMBER' | translate }} <a href="" ui-sref="owm.person.dashboard">{{ 'LOGIN' | translate }}</a></p>
    <hr>
    <p id="signup-term" class="text-muted" ng-bind-html="'SIGNUP_TERMS' | translate"></p>
    <p id="signup-faq" class="text-muted" ng-bind-html="'SIGNUP_FAQ' | translate"></p>
    <p id="signup-trouble" class="text-muted">
      <a ng-href="{{ 'SIGNUP_TROUBLE_URL' | translate }}">{{ 'SIGNUP_TROUBLE' | translate }}</a>
    <p>

  </div>
</div>
