<!-- ACTIONS -->

<div class="card" ng-if="actions.length">
  <div class="card-heading">
    <h2 class="card-title" ng-if="actions.length">Mijn acties</h2>
  </div>

  <div class="card-body" ng-if="actions.length">
    <ul class="list-row action-list">
      <li ng-repeat="a in actions">

        <a ng-if="a.descriptor.deletable" class="close pull-right" ng-click="deleteAction(a)">&times;</a>

        <div ng-bind-html="renderHtml(a.message)" style="margin-bottom: 5px"></div>

        <span ng-repeat="button in a.descriptor.buttons">
          <button class="btn btn-primary" ng-if="button.state" ui-sref="{{ button.state }}">{{ button.text }}</button>
        </span>

      </li>
    </ul>
  </div>
</div>

<!-- CURRENT BOOKINGS -->

<div id="current_bookings" class="card" ng-if="bookings.length > 0">
  <div class="card-heading">
    <h2 class="card-title">{{ 'CURRENT_BOOKINGS' | translate }}</h2>
  </div>
  <div class="card-body">
    <ul class="list-row booking-list">
      <li ng-repeat="b in bookings" ng-include="'booking/list/partial/booking-list-item.tpl.html'">
      </li>

      <!-- extra links -->
      <!-- <li>
        <a href="" ui-sref="owm.booking.list">{{ 'ALL_BOOKINGS' | translate }}</a>
      </li> -->
    </ul>
  </div>
</div>

<!-- CURRENT RENTALS -->

<div id="current_rentals" class="card" ng-if="rentals.length > 0">
  <div class="card-heading">
    <h2 class="card-title">{{ 'CURRENT_RENTALS' | translate }}</h2>
  </div>
  <div class="card-body" id="resource-info">
    <ul class="list-row booking-list">
      <li ng-repeat="b in rentals" ui-sref="owm.booking.show({ bookingId: b.id })"
          ng-include="'booking/list/partial/booking-list-item--owner.tpl.html'">
      </li>
      <!-- extra links -->
      <!-- <li>
        <a href="" ui-sref="owm.booking.rental-list">{{ 'ALL_RENTALS' | translate }}</a>
      </li> -->
      <!-- <li>
        <a href="" ui-sref="owm.resource.list">{{ 'PROMOTE_YOUR_CAR' | translate }}</a>
      </li> -->
    </ul>

  </div>
</div>

<!-- FAVORITES -->

<div id="dashboard_buttons" class="card">

  <div class="card-heading" ng-if="favoriteResources.length >= 1">
    <h2 class="card-title">{{ 'FAVORITE_RESOURCES' | translate }}<info-icon tooltip-html="'INFO_FAVORITES' | translate"></info-icon></h2>
  </div>

  <div class="card-body">
    <div ng-if="favoriteResources.length >= 1">
      <ul class="list-row">
        <li ng-repeat="resource in favoriteResources" ng-click="selectFavoriteResource(resource)">
          <div ng-include="'resource/partials/resource-header1.tpl.html'"></div>
        </li>
      </ul>
      <a ui-sref="owm.resource.search.list" class="btn btn-success">{{ 'SHOW_MORE_RESOURCES' | translate }}</a>
    </div>

    <ul class="list-inline" ng-if="!(favoriteResources.length >= 1)">
      <li id="dashboard_rent_a_car" ng-if="me.preference != 'owner'">
        <a ui-sref="owm.resource.search.list" class="btn btn-success">
          {{ 'RENT_A_CAR' | translate }}
        </a>
      </li>
      <li id="dashboard_list_your_car" ng-if="me.preference != 'renter'">
        <a ui-sref="owm.resource.create" class="btn btn-primary">
          {{ 'LIST_YOUR_CAR' | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
