<div class="card">

  <div class="card-heading">
    <h2 class="card-title">
      {{ 'MY_FINANCE' | translate }}
    </h2>
  </div>

  <div class="card-body" ng-if="!vouchersEnabled && v1NoData && v2NoData">
    {{ 'NO_RESULTS' | translate }}
  </div>
</div>

<!-- Dit deel van de pagina is voor openstaalde opbrengsten uit ritten die nog niet zijn uitbetaald -->
<!-- Er kunnen ook overige facturen zijn (dwz die niet onder een boeking, bijvoorbeeld omdat het een correctie van een eerder boeking is -->
<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="is3Collapsed = !is3Collapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': is3Collapsed, 'fa-chevron-down': !is3Collapsed }"></i>
        Te ontvangen verhuuropbrengst
      </a>
    </h3>
  </div>
  <div uib-collapse="is3Collapsed">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rit</th>
            <th class="text-right">Bedrag</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="open=!open" class="clickable" ng-repeat-start="invoice in openInvoicesRenter">
            <td>{{'Rit op ' + (invoice.booking.date | amDateFormat:'DD-MM-YYYY')  + ' door ' + invoice.booking.name }}</td>
            <td class="text-right">{{::invoice.total | currency}}</td>
            <td class="text-right"><i ng-class="{'fa-chevron-right': !open, 'fa-chevron-down': open}" class="fa fa-fw"></i></td>
          </tr>
          <tr class="table-subinvoice nohover" ng-show="open" ng-repeat="subinvoice in invoice.invoices" ng-repeat-end ng-class="{'lastrow': $last}">
            <td class="first sub">{{subinvoice.type}}</td>
            <td class="second sub text-right" ng-class="{'pos': subinvoice.amount > 0, 'neg': subinvoice.amount < 0}">{{subinvoice.amount | currency }}</td>
            <td class="sub" ></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Overig</th>
            <th class="text-right">Bedrag</th>
            <th><i class="fa fa-fw"></i> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Abonnementskosten</td>
            <td class="text-right">{{::5.23 | currency}}</td>
            <td> </td>
          </tr>
          <tr>
            <td>Naheffig aangepaste KM stand</td>
            <td class="text-right">{{::8.17 | currency}}</td>
            <td> </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button type="button" class="btn btn-primary" ng-click="payoutInvoices()">
          {{318.55|currency2}} uitbetalen
        </button>
      </div>
    </div>
  </div>
</div><!-- /card -->

<div class="card" ng-init="showMyInvoices=true">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="showMyInvoices = !showMyInvoices">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !showMyInvoices, 'fa-chevron-down': showMyInvoices }"></i>
        Reeds ontvangen verhuuropbrengsten
      </a>
    </h3>
  </div>

  <div uib-collapse="!showMyInvoices">
    <div class="card-body">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Datum</th>
            <th>Status</th>
            <th class="text-right">Bedrag</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable" ng-repeat="invoiceGroup in payedGroupedInvoices">
            <td>{{invoiceGroup.id}}</td>
            <td>{{invoiceGroup.due | amDateFormat:'DD-MM-YYYY'}}</td>
            <td>{{invoiceGroup.status}} <span ng-if="invoiceGroup.status!='Betaald'" uib-tooltip="Dit bedrag kun je binnenkort op je rekening verwachten." class="text-muted"><i class="fa fa-info-circle"></i></span> </td>
            <td class="text-right">{{invoiceGroup.total | currency}}</td>
            <td class="text-right"><i title="Download pdf" class="fa fa-fw fa-file-pdf-o"></i></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
