<div class="card">

  <div class="card-heading">
    <h2 class="card-title">
      {{ 'MY_FINANCE' | translate }}
    </h2>
  </div>

  <div class="card-body" ng-if="!vouchersEnabled && v1NoData && v2NoData">
    {{ 'NO_RESULTS' | translate }}
  </div>
</div>

<!-- vouchersEnabled? see navigation controller -->
<div ng-if="vouchersEnabled"
  ng-include="'finance/vouchers/voucherList.tpl.html'"
  ng-controller="VoucherListController">
</div>

<div
  ng-include="'finance/v2/financeV2.tpl.html'"
  ng-controller="FinanceV2Controller">
</div>

<div
  ng-include="'finance/v1/financeV1InvoiceGroups.tpl.html'"
  ng-controller="FinanceV1InvoiceGroupsController">
</div>
