<div class="card" ng-if="unpaidInvoices.length > 0">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="is2Collapsed = !is2Collapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': is2Collapsed, 'fa-chevron-down': !is2Collapsed }"></i>
        {{ 'TO_BE_PAID' | translate }}
      </a>
    </h3>
  </div>
  <div collapse="is2Collapsed">
    <div class="card-body">

      <div class="clearfix">
        <table class="table" ng-repeat="(groupKey, group) in unpaidInvoicesByTrip" style="margin-bottom:0">
          <tbody>
            <tr style="background:#eee">
              <td colspan="6">
                <strong>
                  Rit in {{ group.invoices[0].booking.resource.alias }}
                  {{ group.invoices[0].booking.resource.registrationPlate | surroundWith : '(' : ')' }}
                  van {{ group.invoices[0].booking.beginBooking | amDateFormat:'DD-MM-YY HH:mm' }}
                  tot {{ group.invoices[0].booking.endBooking | amDateFormat:'DD-MM-YY HH:mm' }}
                  <a target="_blank" ng-href="{{ group.tripDetailsLink }}" class="pull-right">
                    <i class="fa fa-fw fa-external-link-square"></i>Details
                  </a>
                </strong>
              </td>
            </tr>
            <tr ng-repeat="line in group.invoiceLines">
              <td class="text-left" style="width: 50%">
                {{ line.description }}
              </td>
              <td class="text-left" style="width: 10%">
                {{ line.quantity }}
              </td>
              <td class="text-center" style="width: 10%">
                &times;
              </td>
              <td class="text-right" style="width: 10%">
                {{ line.price | currency }}
              </td>
              <td class="text-right" style="width: 10%">
                {{ line.taxRate }}%
              </td>
              <td class="text-right" style="width: 10%">
                {{ line.total | currency }}
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <tbody>
            <tr>
              <td colspan="6" class="text-right"><strong>Totaal {{ unpaidInvoicesTotalAmount | currency }}</strong></td>
            </tr>
          </tbody>
        </table>

        <!-- may be hidden from branding css -->
        <button id="finance_index_pay_button" type="button" class="btn btn-primary pull-right" ng-click="payInvoices()" style="margin-right:8px">Betalen</button>
      </div>

      <div ng-if="invoiceGroupsUnpaid.length > 0">
        <h3>Nog openstaande verzamelfacturen:</h3>
        <table class="table">
          <tr>
            <th style="width: 33%">Datum</th>
            <th style="width: 33%">Verzamelfactuur</th>
            <th style="width: 33%">Bedrag</th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="invoiceGroup in invoiceGroupsUnpaid">
            <td>{{ invoiceGroup.date | amDateFormat:'DD-MM-YYYY' }}</td>
            <td>{{ invoiceGroup.id }}</td>
            <td>{{ invoiceGroup.total | currency }}</td>
            <td>
              <a target="_blank" class="btn btn-link" ng-href="{{ createInvoiceGroupPdfLink(invoiceGroup) }}">
                <i class="fa fa-file-pdf-o"></i>&nbsp;Pdf
              </a>
            </td>
            <td class="text-right">
              <button ng-if="invoiceGroup.paid" type="button" disabled class="btn btn-link text-success"><i class="fa fa-check"></i></span>
              <button ng-if="!invoiceGroup.paid" type="button" class="btn btn-primary"
                ng-click="payInvoiceGroup(invoiceGroup)" style="margin-left: 5px;">Betalen</button>
            </td>
          </tr>
        </table>
      </div>


    </div>
  </div>
</div><!-- /card -->


<div class="card" ng-if="invoiceGroups.length > 0">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="is1Collapsed = !is1Collapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': is1Collapsed, 'fa-chevron-down': !is1Collapsed }"></i>
        Verzamelfacturen
        <!-- exclamation mark if there are unpaid invoiceGroups -->
        <i ng-if="unpaidInvoiceGroups.length > 0" class="fa fa-exclamation-triangle text-danger" tooltip="Tooltip"></i>
      </a>
    </h3>
  </div>
  <div collapse="is1Collapsed">
    <div class="card-body">

      <div ng-if="invoiceGroups.length <= 0">
        Geen verzamelfacturen
      </div>

      <div ng-if="invoiceGroups.length > 0">
        <table class="table">
          <tr>
            <th style="width: 33%">Datum</th>
            <th style="width: 33%">Verzamelfactuur</th>
            <th style="width: 33%">Bedrag</th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="invoiceGroup in invoiceGroups">
            <td>{{ invoiceGroup.date | amDateFormat:'DD-MM-YYYY' }}</td>
            <td>{{ invoiceGroup.id }}</td>
            <td>{{ invoiceGroup.total | currency }}</td>
            <td>
              <a target="_blank" class="btn btn-link" ng-href="{{ createInvoiceGroupPdfLink(invoiceGroup) }}">
                <i class="fa fa-file-pdf-o"></i>&nbsp;Pdf
              </a>
            </td>
            <td class="text-right">
              <button ng-if="invoiceGroup.paid" type="button" disabled class="btn btn-link text-success"><i class="fa fa-check"></i></span>
              <button ng-if="!invoiceGroup.paid" type="button" class="btn btn-primary"
                ng-click="payInvoiceGroup(invoiceGroup)" style="margin-left: 5px;">Betalen</button>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div><!-- /card -->


<div class="card" ng-if="sentInvoices.length > 0">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="is3Collapsed = !is3Collapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': is3Collapsed, 'fa-chevron-down': !is3Collapsed }"></i>
        Mijn verhuuropbrengsten
      </a>
    </h3>
  </div>
  <div collapse="is3Collapsed">
    <div class="card-body">

      <div ng-if="sentInvoices.length > 0">
        <table class="table">
          <tr>
            <th>Omschrijving</th>
            <th>Bedrag</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="invoice in sentInvoices">
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.total | currency }}</td>
            <td class="text-right">
              <a ng-if="invoice.booking.id" target="_blank" ng-href="{{ linksService.tripDetailsPdf(invoice.booking.id) }}">
                <i class="fa fa-fw fa-external-link-square"></i>Pdf
              </a>
            </td>
          </tr>
        </table>
      </div>

      <div ng-if="sentInvoices.length <= 0">
        Geen verhuuropbrengsten
      </div>

    </div>
  </div>
</div><!-- /card -->
