<div ng-controller="ResourceEditPicturesController">

  <p ng-if="!ownerflow">{{ 'RESOURCE_PICTURES_INTRO' | translate }}</p>

  <form ng-show="photos.length < 4">
    <div class="form-group">
      <label>{{ 'RESOURCE_PICTURES_UPLOAD' | translate }}</label>
      <file-input on-change="addPicture"></file-input>
    </div>
    <hr/>
  </form>

  <div class="photo-grid clearfix" as-sortable="sortableOptions" ng-model="photos" style="position:relative">

    <!-- mask while load is in progress -->
    <div ng-if="isBusy" style="width: 100%; height: 100%; position: absolute;">
      <div style="position: absolute; background: white; opacity: 0.25; width: 100%; height: 100%"></div>
      <i class="fa fa-spinner fa-spin fa-2x" style="margin:15px"></i>
    </div>

    <div class="photo-container" ng-repeat="photo in photos" as-sortable-item>
      <div class="text-right">
        <button class="btn btn-link" ng-click="removePicture(photo, $index)"><i class="fa fa-times"></i></button>
      </div>
      <div as-sortable-item-handle class="photo">
        <img class="image" ng-src="{{ photo.url }}" />
      </div>
    </div>

    <div class="photo-container" ng-repeat="i in emptySlots" as-sortable-item>
      <div class="text-right">
        <button class="btn btn-link" ng-click="removePicture(photo, $index)"><i class="fa"></i></button>
      </div>
      <div class="photo">
        <div class="image"></div>
      </div>
    </div>
  </div>

</div>
