<div class="card">
  <div class="card-heading">
    <h2 class="card-title">Contributie</h2>
  </div>

  <div class="card-body">
    <p>Voor het lidmaatschap van de Vereniging voor Gedeeld Autogebruik betaal je jaarlijks 20 euro contributie. De contributie van het eerste kalenderaar betaal je per iDEAL. Vanaf het tweede kalenderjaar incasseren we de contributie automatisch van je rekening in de tweede week van januari. Hierover informeren we je per mail.</p>

    <p ng-if="month >= 7 && month < 11">Voor de rest van dit kalenderjaar betaal je een gereduceerde contributie van 10 euro.</p>

    <p ng-if="month >= 11">Voor de rest van dit kalenderjaar betaal je een gereduceerde contributie van 1 euro.</p>

    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.mandate">
          Ik machtig de Vereniging voor Gedeeld Autogebruik om de contributie te innen per automatische incasso.
        </label>
      </div>
      <button type="button" class="btn btn-primary" ng-click="payDeposit()" ng-disabled="!data.mandate || busy">Betaal de eerste contributie per iDEAL</button>
    </form>

  </div>
</div>
