<div class="card">
  <div class="card-heading">
    <h2 class="card-title">Borg en incasso</h2>
  </div>

  <div class="card-body">
    <p>
    Bij MyWheels betaal je de auto achteraf per maandelijkse incasso. Echter voor je kunt rijden vragen we je een borg van &euro; 250,- over te maken via iDEAL.
    </p>

    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.mandate">
          Ik machtig MyWheels om verschuldigde bedragen te innen via automatische incasso.
        </label>
      </div>
      <button type="button" class="btn btn-primary" ng-click="payDeposit()" ng-disabled="!data.mandate || busy">Betaal je borg via iDEAL</button>
    </form>

    <br/>
    <p class="help-block">MyWheels incasseert je openstaande rekeningen maandelijks (of als je veel rijdt iedere 14 dagen) vanaf jouw bankrekening die je voor de borgbetaling gebruikt heb. Neem contact met ons op als je via een andere rekening wilt betalen. Als je (gedurende langere tijd) geen auto's meer wilt huren via MyWheels kun je je borg terugvragen. Terugstorten kan een aantal weken duren na je laatste rit/betaling i.v.m. risico op bekeuringen etc. Zie de algemene voorwaarden.</p>
  </div>
</div>
