<div class="media media--bordered">

  <div class="media-object pull-left" ui-sref="owm.booking.show({ bookingId: b.id })">
    <div class="row">
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginBooking">
        <div class="booking__timeframe booking__timeframe--accepted">
          <datetime datetime="{{ b.beginBooking }}"></datetime>
          <datetime datetime="{{ b.endBooking }}"></datetime>
          <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <i booking-approval-icon="b"></i>
        </div>
      </div>
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginRequested">
        <div class="booking__timeframe booking__timeframe--requested">
          <datetime datetime="{{ b.beginRequested }}"></datetime>
          <datetime datetime="{{ b.endRequested }}"></datetime>
          <span ng-if="!b.beginBooking" class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <span ng-if="b.beginBooking" class="tag tag-requested">{{ 'requested' | bookingStatus }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="media-body">
    <div class="row">

      <div class="col-sm-6" ui-sref="owm.booking.show({ bookingId: b.id })">
        <div class="booking__info">
          <div class="booking__resource truncate">
            {{ b.resource.alias }}
          </div>
          <div class="booking__resource__owner truncate">
            <i class="fa fa-user"></i> {{ b.resource.owner | fullname }}
          </div>
          <div class="booking__resource__location truncate">
            <i class="fa fa-map-marker"></i> {{ b.resource.location }}
          </div>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="form-group">
          <ul class="list-inline" ng-if="allowBoardComputer(b)">
            <li>
              <button  ng-click="openDoor(b.resource, b)" class="btn btn-sm btn-success"><i class="fa fa-unlock fa-fw"></i></button>
            </li>
            <li>
              <button  ng-click="closeDoor(b.resource, b)" class="btn btn-sm btn-danger"><i class="fa fa-lock fa-fw"></i></button>
            </li>
            <li>
              <button class="btn btn-link" ui-sref="owm.booking.show({ bookingId: b.id })"><i class="fa fa-fw fa-chevron-right"></i></button>
            </li>
          </ul>

          <div ng-if="b.approved==='TO_BE_PAID'">
            <span class="text-danger"><i class="fa fa-eur"></i> Nog te betalen</span>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
