<div class="media media--bordered">

  <div class="media-object pull-left">
    <div class="row">
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginBooking">
        <div class="booking__timeframe booking__timeframe--accepted">
          <datetime datetime="{{ b.beginBooking }}"></datetime>
          <datetime datetime="{{ b.endBooking }}"></datetime>
          <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <i booking-approval-icon="b"></i>
        </div>
      </div>
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginRequested">
        <div class="booking__timeframe booking__timeframe--requested">
          <datetime datetime="{{ b.beginRequested }}"></datetime>
          <datetime datetime="{{ b.endRequested }}"></datetime>
          <span ng-if="!b.beginBooking" class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <span ng-if="b.beginBooking" class="tag tag-requested">{{ 'requested' | bookingStatus }}</span>
          <i booking-approval-icon="b"></i>
        </div>
      </div>
    </div>

  </div>
  <div class="media-body">

    <div class="pull-right text-right">
      <!-- EDIT BUTTON -->
      <a ui-sref="owm.booking.show({ bookingId: b.id })" class="btn btn-link"><i class="fa fa-fw fa-cog"></i>{{ 'EDIT' | translate }}</a>

      <!-- TO BE PAID INFO -->
      <div ng-if="['TO_BE_PAID', 'BUY_VOUCHER'].indexOf(b.approved) > 0">
        <span class="text-danger">Huurder moet nog betalen</span>
      </div>
    </div>

    <!-- RESOURCE INFO -->
    <div class="booking__info">
      <div class="booking__resource truncate">
        {{ b.person | fullname }}
      </div>
      <div class="booking__resource__owner truncate">
        <i class="fa fa-fw fa-user"></i> {{ b.resource.alias }}
      </div>
      <div class="booking__resource__location truncate">
        <i class="fa fa-fw fa-map-marker"></i> {{ b.resource.location }}
      </div>
    </div>

  </div>
</div>
