<div class="media media--bordered">

  <div class="media-object pull-left" ui-sref="owm.booking.show({ bookingId: b.id })">
    <div class="row">
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginBooking">
        <div class="booking__timeframe booking__timeframe--accepted">
          <datetime datetime="{{ b.beginBooking }}"></datetime>
          <datetime datetime="{{ b.endBooking }}"></datetime>
          <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
        </div>
      </div>
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginRequested">
        <div class="booking__timeframe booking__timeframe--requested">
          <datetime datetime="{{ b.beginRequested }}"></datetime>
          <datetime datetime="{{ b.endRequested }}"></datetime>
          <span ng-if="!b.beginBooking" class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <span ng-if="b.beginBooking" class="tag tag-requested">{{ 'requested' | bookingStatus }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="media-body">

    <div class="pull-right text-right">
      <!-- EDIT BUTTON -->
      <a ui-sref="owm.booking.show({ bookingId: b.id })" class="btn btn-link"><i class="fa fa-fw fa-cog"></i>{{ 'EDIT' | translate }}</a>

      <!-- TO BE PAID LINK -->
      <div ng-if="b.approved === 'TO_BE_PAID'">
        <a ng-if="features.invoiceModuleV1" ui-sref="owm.finance.v1Index" class="btn btn-link text-danger">
          <i class="fa fa-eur"></i> Nog te betalen</a>
        <a ng-if="features.invoiceModuleV2" ui-sref="owm.finance.v2Index" class="btn btn-link text-danger">
          <i class="fa fa-eur"></i> Nog te betalen</a>
        <a ng-if="features.invoiceModuleV3" ui-sref="owm.finance.v3Index" class="btn btn-link text-danger">
          <i class="fa fa-eur"></i> Nog te betalen</a>
      </div>

      <div ng-if="b.approved === 'BUY_VOUCHER' && b.person.numberOfBookings > 1">
        <a ui-sref="owm.finance.vouchers" class="btn btn-link text-danger">
          <i class="fa fa-exclamation-circle"></i> Betaal rit</a> 
      </div>
      <div ng-if="b.approved === 'BUY_VOUCHER' && b.person.numberOfBookings == 1">
        <a ui-sref="contractchoice" class="btn btn-link text-danger">
          <i class="fa fa-exclamation-circle"></i> Betaal rit</a>
      </div>

    </div>

    <!-- RESOURCE INFO -->
    <div class="booking__info" ui-sref="owm.booking.show({ bookingId: b.id })">
      <div class="booking__resource truncate">
        {{ b.resource.alias }}
      </div>
      <div class="booking__resource__owner truncate">
        <i class="fa fa-user"></i> {{ b.resource.owner | fullname }}
      </div>
      <div class="booking__resource__location truncate">
        <i class="fa fa-map-marker"></i> {{ b.resource.location }}
      </div>
    </div>

    <!-- BOARD COMPUTER -->
    <div ng-if="allowBoardComputer(b)">
      <hr/>
      <ul class="list-inline">
        <li>
          <button  ng-click="openDoor(b.resource, b)" class="btn btn-sm btn-success"><i class="fa fa-unlock fa-fw"></i></button>
        </li>
        <li>
          <button  ng-click="closeDoor(b.resource, b)" class="btn btn-sm btn-danger"><i class="fa fa-lock fa-fw"></i></button>
        </li>
      </ul>
    </div>

  </div>
</div>
