<div class="media media--bordered">

  <div class="media-object pull-left">
    <div class="row">
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginBooking">
        <div class="booking__timeframe booking__timeframe--accepted">
          <datetime datetime="{{ b.beginBooking }}"></datetime>
          <datetime datetime="{{ b.endBooking }}"></datetime>
          <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <i booking-approval-icon="b"></i>
        </div>
      </div>
      <div ng-class="{  'col-sm-6': (b.beginBooking && b.beginRequested), 'col-sm-12': !(b.beginBooking && b.beginRequested) }" ng-if="b.beginRequested">
        <div class="booking__timeframe booking__timeframe--requested">
          <datetime datetime="{{ b.beginRequested }}"></datetime>
          <datetime datetime="{{ b.endRequested }}"></datetime>
          <span ng-if="!b.beginBooking" class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
          <span ng-if="b.beginBooking" class="tag tag-requested">{{ 'requested' | bookingStatus }}</span>
          <i booking-approval-icon="b"></i>
        </div>
      </div>
    </div>

  </div>
  <div class="media-body">

    <div class="pull-right text-right">
      <!-- APPROVED INFO -->
      <span ng-if="b.approved === 'OK'">
        <i class="fa fa-check-circle fa-2x text-success" tooltip="Deze boeking is akkoord, je kunt de auto meegeven aan de huurder"></i>
      </span>
      <span ng-if="['TO_BE_PAID', 'BUY_VOUCHER'].indexOf(b.approved) > 0">
        <i class="fa fa-exclamation-circle fa-2x text-danger" tooltip="Deze boeking is (nog) niet akkoord, geef de auto niet mee aan de huurder"></i>
      </span>
      <!-- EDIT BUTTON -->
      <a ui-sref="owm.booking.show({ bookingId: b.id })" class="text-muted"><i class="fa fa-2x fa-fw fa-cog text-muted" tooltip="{{ 'EDIT' | translate }}"></i></a>
    </div>

    <!-- RESOURCE INFO -->
    <div class="booking__info">
      <div class="booking__resource truncate">
        {{ b.person | fullname }}
      </div>
      <div class="booking__resource__owner truncate">
        <i class="fa fa-fw fa-user"></i> {{ b.resource.alias }}
      </div>
      <div class="booking__resource__location truncate">
        <i class="fa fa-fw fa-map-marker"></i> {{ b.resource.location }}
      </div>
    </div>

  </div>
</div>
