<md-dialog>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Korting</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancelDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <form name="form">

      <div layout="row">
        <md-input-container>
          <label>Resource</label>
          <input ng-model="discount.resource" disabled>
        </md-input-container>

        <md-input-container>
          <label>Sender</label>
          <input ng-model="discount.sender" disabled>
        </md-input-container>

        <md-input-container>
          <label>Recipient</label>
          <input ng-model="validRecipient.id" disabled>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex>
          <label class="disable-ng-animate">Recipient <i class="fa fa-spinner fa-spin" ng-if="validRecipient.pending"></i></label>
          <md-icon>email</md-icon>
          <input type="email" name="recipientEmail" ng-model="discount.recipientEmail" ng-change="resetRecipient()" ng-blur="validateRecipient()" />
          <div ng-messages="form.recipientEmail.$error">
            <div ng-message="email">Enter an email address</div>
            <div ng-message="registeredEmail">Not a registered user</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container>
          <label>Bedrag</label>
          <md-icon>euro_symbol</md-icon>
          <input ng-model="discount.amount" type="number">
        </md-input-container>

        <md-input-container>
          <label>Percentage</label>
          <input ng-model="discount.percentage" type="number">
        </md-input-container>
      </div>

      <div layout="row" style="margin-bottom: 32px">
        <md-datepicker ng-model="discount.validFrom" md-placeholder="Geldig vanaf"></md-datepicker>
        <md-datepicker ng-model="discount.validUntil" md-placeholder="t/m"></md-datepicker>
      </div>

      <div layout="row">
        <md-checkbox ng-model="discount.multiple">
          Multiple
        </md-checkbox>

        <md-checkbox ng-model="discount.global" ng-disabled="discount.globalCharge">
          Global
        </md-checkbox>

        <md-checkbox ng-model="discount.globalCharge" ng-disabled="discount.global">
          GlobalCharge
        </md-checkbox>
      </div>

      <div layout="row">
        <code>
          {{ discount }}
        </code>
      </div>

    </form>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" ng-click="cancelDialog()">Annuleren</md-button>
    <md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="createDiscount()">Opslaan</md-button>
  </md-dialog-actions>

</md-dialog>
