<md-dialog>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Korting</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancelDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <form name="form">

      <md-input-container>
        <label>Resource</label>
        <input ng-model="discount.resourceId" disabled>
      </md-input-container>

      <md-input-container>
        <label>Sender</label>
        <input ng-model="discount.senderId" disabled>
      </md-input-container>

      <md-input-container>
        <label>Recipient</label>
        <input ng-model="discount.recipientId">
      </md-input-container>

      <div layout="row">
        <md-input-container>
          <label>Bedrag (€)</label>
          <input ng-model="discount.amount" type="number">
        </md-input-container>

        <md-input-container>
          <label>Percentage</label>
          <input ng-model="discount.percentage" type="number">
        </md-input-container>
      </div>

      <div layout="row">
        <md-datepicker ng-model="discount.validFrom" md-placeholder="Geldig vanaf"></md-datepicker>
        <md-datepicker ng-model="discount.validUntil" md-placeholder="t/m"></md-datepicker>
      </div>

      <br/>

      <md-checkbox ng-model="discount.multiple">
        Multiple
      </md-checkbox>

      <md-checkbox ng-model="discount.global">
        Global
      </md-checkbox>

      <br/>
      <code>
        {{ discount }}
      </code>

    </form>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" ng-click="cancelDialog()">Annuleren</md-button>
    <md-button class="md-raised md-primary" ng-click="createDiscount()">Opslaan</md-button>
  </md-dialog-actions>

</md-dialog>
