<div ng-bind-html="'RESOURCE_DISCOUNT_INTRO' | translate"></div>
<br/>

<div layout="row" ng-if="ctrl.selectedRange !== ctrl.ranges.custom">
  <md-input-container>
    <md-select ng-model="ctrl.selectedRange" aria-label="Selecteer een periode" ng-change="loadDiscounts()">
      <md-option ng-value="ctrl.ranges.now">Geldig vanaf nu</md-option>
      <md-option ng-value="ctrl.ranges.custom">Selecteer een periode</md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" style="padding-top: 1px; padding-bottom: 14px" ng-if="ctrl.selectedRange === ctrl.ranges.custom">
  <md-datepicker ng-model="ctrl.ranges.custom.start" md-placeholder="Geldig vanaf" ng-change="loadDiscounts()"></md-datepicker>
  <md-datepicker ng-model="ctrl.ranges.custom.end" md-placeholder="t/m" ng-change="loadDiscounts()"></md-datepicker>
  <md-button class="md-icon-button" ng-click="ctrl.selectedRange = ctrl.ranges.now; loadDiscounts()"><md-icon>close</md-icon></md-button>
</div>

<table class="table">
  <tr>
    <th>Code</th>
    <th>Ontvanger</th>
    <th>Korting</th>
    <th>Geldig vanaf</th>
    <th>Geldig t/m</th>
    <th></th>
    <th></th>
  </tr>
  <tr ng-repeat="discount in discounts">
    <td>{{ discount.code }}</td>
    <td>{{ discount.recipient.firstName }}</td>
    <td class="text-right">
      <span ng-if="discount.percentage">{{ discount.percentage | number:0 }}%</span>
      <span ng-if="discount.amount">{{ discount.amount | currency }}</span>
    </td>
    <td>{{ discount.validFrom }}</td>
    <td>{{ discount.validUntil }}</td>
    <td><a href="" disabled>Details</a></td>
    <td><a href="" ng-click="disableDiscount(discount)">Verwijder</a></td>
  </tr>
</table>

<div layout="row" layout-align="center">
  <md-button class="md-fab" ng-click="createDiscount($event)">
    <md-icon>add</md-icon>
    <md-tooltip>Korting toevoegen</md-tooltip>
  </md-button>
</div>
