.page-footer {
    padding-top: 2.5rem;
    -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-logo-row {
    background: #eee;
    padding: 3em 0 2em;
    img {
        margin: 8px;
    }
}
.footer-color {
    background-color: @mywheels-gray!important;
    color: #fff!important;
    h4 {
        color: #fff;
        margin-bottom: 10px !important;
        font-size: 16px;
    }
    a {
        color: #fff;
    }
    button {
        color: #fff;
    }
    button:hover {
        color: #999;
    }
    a:hover {
        color: #999;
    }
}
.footer-social-row {
    border-top: 1px solid #fff;
    padding: 25px;
    background: white;
    margin-top: 25px;
}
