@hero-height: 29rem;
.home {
    background-color: #fff;
    h2 {
        font-size: 2.5em;
    }
}
/* ---------------------- HOME PAGE BASELINE ------------------- */
.homepage-baseline {
    height: 19rem;
    display: flex;
    z-index: 1;
}
.homepage-baseline-header {
    margin: 0.5em auto auto;
    z-index: 1;
}
.homepage-searchbar {
    width: 100%;
    height: 10rem;
    padding: 1em;
    // max-height: 9rem;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    form {
        // padding: 1em 1em;
        margin: auto;
        padding: 1em;
        text-align: left;
        display: flex;
    }
    input[type="text"] {
        display: inline-block;
        color: #333;
        border-radius: 0;
        padding: 1.1rem;
        font-size: 1.1em;
    }
    .icon {
        margin: 0;
    }
    .icon:before {
        left: 0.2rem;
        top: 0.6rem;
        font-size: 1.8em;
    }
    .button {
        position: relative;
    }
    .button button {
        max-height: 100%;
        width: 100%;
        font-weight: 500;
        font-size: 1.1em;
        display: inline-block;
        border-radius: 0 0 0 0;
        padding: 1.1rem;
    }
}
.home .hero {
    background-image: url('../branding/img/bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: @hero-height;
    position: relative;
}
.hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 0;
}
.searchbar {
    width: 100%;
    height: 100%;
    .button {
        height: 100%;
    }
    button {
        height: 100%;
    }
    input {
        height: 100%;
    }
}
@media (min-width:480px) {
    .button {
        min-width: 10em;
    }
}
@media (min-width:1024px) {
    .home .hero {
        height: 55rem;
    }
    .homepage-baseline-header {
        margin: auto;
    }
    .homepage-baseline {
        height: 41rem;
    }
    .homepage-searchbar {
        height: 14rem;
        padding: 2.5em;
    }
    .searchbar {
        width: 100%;
        max-width: 50em;
        .button {
            padding-left: 1em;
        }
    }
    .container {
        width: 62.25em !important;
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width:996px) {
    .container {
        width: 80em !important;
    }
}
/* ---------------------- RENTER CALL TO ACTION  ------------------- */
.renter--actions {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.renter--action {
    padding: 3em 1em 4em;
    max-width: 40em;
    text-align: center;
    p {
        max-width: 50em;
        margin: 0 auto;
        font-size: 1.1em;
    }
    h2 {
        margin: 0 0 1em;
        font-size: 3em;
    }
    .md-button {
        margin: 2em 0;
        // color: #333;
    }
}
.renter--action:first-child {
    border-bottom: 0.1em solid #7a7878;
}
@media (min-width:996px) {
    .renter--action {
        padding: 3em;
    }
    .renter--actions {
        flex-direction: row;
    }
    .renter--action:first-child {
        border-bottom: none;
    }
}
.action-button:last-child .btn {
    margin-bottom: 0;
}
.content-white {
    padding: 5%;
    border: 2px solid @mywheels-green;
    min-height: 19em;
}
.content-white h3 {
    font-size: 27px;
    color: @mywheels-green;
}
.content-white md-icon {
    color: @mywheels-green;
    vertical-align: top;
    margin: 1px 0.5em 0 0;
}
// .call-to-signup {
//     background-color: @mywheels-red;
//     border: 0;
//     box-shadow: 0 3px 5px #444;
//     color: #fff;
// }
// .call-to-signup:hover {
//     background-color: #B44123;
//     color: #fff;
// }
// .call-to-signup-text {
//     font-size: 27px;
//     text-shadow: 0 3px 5px #444;
// }
.content h2 {
    font-size: 39px;
}
/* ---------------------- ADVATAGE ------------------- */
.advantage-mywheels {
    margin: 3em auto;
    max-width: 100vw;
}
/* ---------------------- SLIDER ------------------- */
.slider {
    padding: 3em 1em;
    background: @mywheels-green;
}
.slider--container {
    position: relative;
    padding: 0 45px;
}
.slider--heading {
    color: white;
    padding: 20px 0 10px;
    font-size: 30px;
    margin: 0;
}
.slider--slide {
    padding: 0 5px;
    cursor: pointer;
}
.slider--slide--image {
    position: relative;
}
.slider--slide--image img {
    width: 100%;
    height: auto;
}
.slider--slide--price {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
    border-radius: 0.4em;
    background: rgba(0,0,0,.35);
    color: #fff;
    padding: 8px;
    font-family: OmnesMedium;
    font-size: 1.2em;
}
.slider--slide--location {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px 6px;
    font-size: 1em;
}
.slider--slide--alias {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 6px 10px 0;
    font-size: 1.2em;
}
/* ---------------------- INFO BOX ------------------- */
.infoboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.infobox {
    box-sizing: border-box;
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1rem 0;
    width: 100%;
    // flex-basis: 18em;
    display: block;
    padding: 1em;
    border: 0.1625rem solid @mywheels-green;
}
@media (min-width:996px) {
    .infoboxes {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .infobox {
        margin: 1rem;
        flex-basis: 30em;
        padding: 2em;
    }
}
.infobox {
    .rend--nearby {
        position: relative;
        background-image: url('../branding/img/dashboard.jpg');
        background-position: 100% auto;
        height: 3em;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.infobox--link {
    color: @mywheels-green;
    font-weight: bold;
}
.infobox--link:hover {
    color: @mywheels-gray;
    font-weight: bold;
}
.infoboxes--heading {
    text-align: center;
}
.material-icons.infobox--title--icon {
    padding: 0;
    font-size: 3em;
    margin: auto 1em auto 0;
    color: @mywheels-green;
    height: auto;
}
.infobox--title--text {
    color: @mywheels-green;
    font-size: 1.5em;
}
/* ---------------------- IMAGE BLOCK ------------------- */
.imageblock {
    background-image: url('../branding/img/dashboard.jpg');
    background-position: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 3em 1em;
}
.imageblock--content {
    text-shadow: 0 1px 3px #444;
    text-align: center;
    padding: 5em 0;
}
.imageblock--heading {
    color: #fff;
    text-shadow: 0 1px 3px #444;
    text-align: center;
    font-size: 2em;
    margin: 0 1rem;
}
