.intro__section {
}

.intro__section--green {
  background-color: @mywheels-green;
}

.intro__section--white {
  background-color: white;
}

.intro__section--first {
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro__section__heading > h3 {
  font-size: 2.5em;
  padding: 20px 0 50px 0;
  margin: 0;
  text-align: center;
}

.intro__section__faq__box {
  padding: 0 5px;
}

md-card-header {
  outline: none;
}

.intro__section__faq__button {
  text-align: center;
  margin: 16px 0;
}

.intro__section__slider {
  padding-top: 0;
  padding-bottom: 0;
}

.intro__section__faq__heading {
  font-size: 2em;
  color: @mywheels-green;
  text-align: center;
  padding: 0;
  margin: 20px 0;
}

.intro__section__ideals {
  margin-bottom: 40px;
}

.intro__section__ideals > h3 {
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 0;
  margin: 20px 0;
}

.intro__section__ideals > p {
}

.intro__section__steps__pretext {
  padding: 20px 0;
}
.intro__section__steps__aftertext {
  margin: 20px 0;
}

.intro__section__steps__stepicon {
  color: @mywheels-green;
  font-size: 40px;

}
.intro__section__steps__stepnumber {
  border-radius: 60px;
  border: 1px solid @mywheels-green;
  color: @mywheels-green;
  padding: 10px;
  margin: 16px;
}

.intro__section__steps__step {
  margin: 1px 0;
  background-color: white;
}

.intro__section__steps__steptext {
  margin: 8px;
}

.intro__section__steps__steptext > span {
  font-size: 1.5em;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  color: @mywheels-green;
}

.intro__section--last {
  margin-bottom: -45px;  
}

.intro__section__footer > h3 {
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 0;
  margin: 20px 0;
}
