.md-sidenav-left {
  min-width: 320px;
}

.app-toolbar-row,
.md-sidenav-left .app-toolbar {
  .box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.app-toolbar-row {
  background: #fff;

  .container,
  .container-transitional {
    padding: 0;
  }
}

.app-toolbar {
  background-color: #fff !important;

  .md-toolbar-tools {
    font-family: @headings-font-family;
    font-size: 16px;
  }

  .md-button {
    font-size: 16px;
    text-transform: none;
    md-icon {
      margin-top: -2px;
    }
  }

  .md-button .user-name {
    display: inline-block;
    float: right;
    margin-right: 8px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a.md-button:focus,
  .md-button:focus,
  a.md-button:hover,
  .md-button:hover {
    background: none;
  }

  .app-logo {
    margin-top: -1px;
  }

  .signup-button,
  .login-button {
    font-family: @headings-font-family;
    font-size: 16px;
  }

  .signup-button {
    padding: 1px 4px;
    font-size: 14px;
  }

  .login-button {
    margin-left: 8px;
    padding: 1px 0;
    color: @mywheels-gray;
  }

  .user-icon,
  .user-name {
    color: @mywheels-blue;
  }

}

.app-menu {
  margin-top: 9px;
  li {
    a {
      display: block;
      padding: 12px 16px;
      font-size: 18px;
      font-family: @headings-font-family;
      color: @mywheels-gray;

      transition: background linear 0.1s;

      &:hover {
        color: darken(@mywheels-gray, 35%);
        background: #eee;
      }
    }
  }
  li.active {
    a, a:hover {
      background-color: @mywheels-blue;
      background-image: linear-gradient(to bottom, lighten(@mywheels-blue, 5%), darken(@mywheels-blue, 15%));
      color: #fff;
    }
  }
  li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}
