.table-invoice {
  .table-invoice__quantity, .table-invoice__price {
    text-align: right;
  }
  .table-invoice__total {
    font-weight: bold;
    border-top: 2px solid @gray-light;
  }
  .table-invoice__price {
    &.table-invoice__price--positive {
      color: @brand-danger;
    }
    &.table-invoice__price--negative {
      color: @brand-success;
    }
  }
};

/* New finance pages. Needs cleanup, just a proto type */
.table-subinvoice {
  padding-bottom: 2em;
  td.sub {
    padding: 0.4em 2px 0.4em 2px;
    border: none;
  }
  td.first {
    padding-left: 2em;
    vertical-align: middle;
  }
  td.second {
    padding-left: 8px;
  }
}
tr.lastrow > td
{
  padding-bottom: 2em !important;
}
.neg {
  color: #C43D3D;
}
