
.signup-header{
  display: inline-block;
  max-width: 100%;
}
.signup-header img{
  width: 100%;
}
.signup-img{
  position: relative;
}
.signup-title{
  padding: 1em;
  position: absolute;
  top: 0;
  color: #fff;
}
