<div ng-controller="ResourceEditPriceController">

  <form name="form">

    <div id="resource_settings_price_per_day" class="form-group">
      <label>
        {{ 'PRICE_PER_DAY' | translate }}
        <info-icon tooltip-html="'INFO_RESOURCE_EDIT_PRICE_PER_DAY' | translate"></info-icon>
      </label>
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="text" smart-float id="dayRateTotal" name="dayRateTotal" class="form-control"
               ng-model="resource.dayRateTotal" placeholder="per day">
        <span class="input-group-addon"><input type="checkbox" id="kmFree" name="kmFree" ng-model="resource.kmFree" class="ng-pristine ng-valid"> {{ 'INCLUDING_100_KM_FREE' | translate }}</span>
      </div>
      <div class="help-block" ng-bind-html="'PRICE_PER_DAY_INFO_HTML' | translate">
      </div>
    </div>

    <div id="resource_settings_price_per_hour" class="form-group">
      <label>
        {{ 'PRICE_PER_HOUR' | translate }}
        <info-icon tooltip-html="'INFO_RESOURCE_EDIT_PRICE_PER_HOUR' | translate"></info-icon>
      </label>
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="text" smart-float id="hourRate" name="hourRate" class="form-control"
               ng-model="resource.hourRate" placeholder="per day">
      </div>
    </div>

    <div id="resource_settings_price_per_km"  form-group label="{{ 'PRICE_PER_KM' | translate }}">
      <div class="input-group">
        <span class="input-group-addon">€</span>
        <input type="text" smart-float id="kilometerRate" name="kilometerRate" class="form-control"
               ng-model="resource.kilometerRate" placeholder="per km">
      </div>
    </div>

    <!-- may be hidden by branding css -->
    <div id="resource_settings_fuel">
      <div id="resource_settings_refuel_by_renter" class="form-group">
        <label>
          {{ 'RESOURCE_REFUEL_BY_RENTER_LABEL' | translate }}
          <info-icon tooltip-html="'INFO_RESOURCE_EDIT_REFUEL_BY_RENTER' | translate"></info-icon>
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" ng-model="resource.refuelByRenter" name="refuelByRenter" id="refuelByRenter">
          </span>
          <input class="form-control" readonly value="Zelf tanken" />
        </div>
      </div>

      <div class="form-group">
        <label ng-class="{ 'text-muted': resource.refuelByRenter }">{{ 'FUEL_PRICE_PER_KM' | translate }}</label>
        <div class="input-group">
          <span class="input-group-addon">€</span>
          <input type="text" smart-float id="fuelPerKilometer" name="fuelPerKilometer" class="form-control"
                 ng-model="resource.fuelPerKilometer" ng-disabled="resource.refuelByRenter">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-default" ng-disabled="form.$pristine" ng-click="reset()">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-primary" ng-disabled="form.$pristine" ng-click="save()">{{ 'SUBMIT' | translate }}</button>
    </div>

  </div><!-- /form -->
</div><!-- /controller -->
