<div class="card">
  <div class="card-heading">
    <h2 class="card-title">{{ 'AUTH_CHANGE_PWD_PAGE_TITLE' | translate }}</h2>
  </div>

  <div class="card-body">
    <p>{{ 'AUTH_CHANGE_PWD_INTRO' | translate }}</p>

    <form name="form">
      <div class="form-group">
        <label>{{ 'PASSWORD' | translate }}</label>
        <input type="password" class="form-control" ng-model="password" required />
      </div>
      <button type="button" class="btn btn-primary" ng-disabled="!form.$valid || isBusy" ng-click="submit()">{{ 'SAVE' | translate }}</button>
    </form>

  </div>
</div>
