<div class="card">
    <!-- header -->
    <section class="card-heading">
        <h2 class="card-title">Contract kiezen</h2>
        <br>
        <p>Je kunt hieronder een contract kiezen om ritten te betalen. Bij <a href="https://mywheels.nl/autodelen/hoe-huren-werkt/tarieven-huren/">tarieven</a> vind je meer informatie. Door te kiezen voor MyWheels Member geef je ons toestemming om per SEPA incasso de ritkosten achteraf te incasseren.</p>
    </section>
    <section layout="row" layout-xs="column" class="card-body contract">
        <!-- first card -->
        <section class="contract-choice contract-choice--left">
            <h3 same-height="headercontract">MyWheels Go</h3>
            <section>
              <div class="pay" same-height="aa">Betaal vooraf met iDeal</div>
                <ul>
                  <li same-height="a">Eigen risico verplicht <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">verlaagd</a> <br><small>&euro;3,50 per rit per dag</small></li>
                    <li same-height="b">Annuleren binnen 24 uur:<br>volledige ritkosten</li>
                    <li same-height="c">Annuleren buiten 24 uur:<br>&euro;2,50</li>
                    <li same-height="d">Inkorten rit tot maximaal 1 uur</li>
                    <li same-height="e">Maximaal 3 extra bestuurders<br><small>&euro;1,25 per persoon per rit.</small></li>
                    <li same-height="f">Geen abonnementskosten</li>
                    <li same-height="g">Geen borg</li>
                    <li same-height="h">Geen korting</li>
                </ul>
            </section>
            <button type="button" ng-if="hasGo" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
            <button type="button" ng-if="!hasGo" name="button" class="mywheels-btn mywheels-btn-default" ng-click="createGo()">Kies dit contract</button>
        </section>

        <!-- second card -->
        <section class="contract-choice contract-choice--middle" ng-class="{'contract-choice--middle--small': $mdMedia('xs')}">
            <h3 same-height="headercontract">MyWheels Member</h3>
            <section>
                <div class="pay" same-height="aa">Betaal achteraf per SEPA incasso <sup>*</sup></div>
                <ul>
                    <li same-height="a">Eigen risico optioneel <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">te verlagen</a><br><small>&euro;3,50 per rit per dag</small></li>
                    <li same-height="b">Annuleren binnen 24 uur:<br>&euro;2,50</li>
                    <li same-height="c">Annuleren buiten 24 uur:<br>gratis</li>
                    <li same-height="d">Inkorten rit tot maximaal 2 uur</li>
                    <li same-height="e">Gratis 2 extra bestuurders</li>
                    <li same-height="f">Geen abonnementskosten</li>
                    <li same-height="g">250 euro borg</li>
                    <li same-height="h">Geen korting</li>
                </ul>
            </section>
            <button type="button" ng-if="!hasMember" name="button" class="mywheels-btn mywheels-btn-default" ng-click="createMember()">Kies dit contract</button>
            <button type="button" ng-if="hasMember" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
        </section>

        <section class="contract-choice contract-choice--right">
            <h3 same-height="headercontract">MyWheels Premium</h3>
            <section>
                <div class="pay" same-height="aa">Betaal achteraf per SEPA incasso <sup>*</sup></div>
                <ul>
                    <li same-height="a">Eigen risico optioneel <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">te verlagen</a><br><small>&euro;3,50 per rit per dag<br>of &euro;10 per maand</small></li>
                    <li same-height="b">Annuleren binnen 24 uur:<br>&euro; 2,50</li>
                    <li same-height="c">Annuleren buiten 24 uur:<br>gratis</li>
                    <li same-height="d">Inkorten rit tot maximaal 2 uur</li>
                    <li same-height="e">Gratis 4 extra bestuurders</li>
                    <li same-height="f">10 euro per maand <sup>**</sup></li>
                    <li same-height="g">250 euro borg</li>
                    <li same-height="h">2 cent per km korting</li>
                </ul>
            </section>
            <button type="button" ng-if="hasPremium" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
            <button type="button" ng-if="!hasPremium" name="button" class="mywheels-btn mywheels-btn-default" ng-click="createPremium()">Kies dit contract</button>
        </section>

    </section>
    <section class="card-body">
      *Bij ritten hoger dan 250 euro vragen we de rit vooraf te voldoen.<br>
       ** Minimale looptijd 3 maanden, daarna maandelijks op te zeggen.
    </section>
</div>
