
<div class="card">
  <div class="card-heading">

    <span class="pull-right">
      <a id="booking-huurovereenkomst-link" ng-if="allowOvereenkomst" class="btn btn-link" target="_blank" ng-href="{{ overeenkomstUrl }}">
        <i class="fa fa-download fa-fw"></i>Huurovereenkomst (pdf)
      </a>

      <a ng-if="booking.status==='accepted'" class="btn btn-link" target="_blank" ng-href="{{ linksService.tripDetailsPdf(booking.id) }}">
        <i class="fa fa-download fa-fw"></i>Ritoverzicht (pdf)
      </a>
    </span>

    <h2 class="card-title">
      <span ng-if="userPerspective==='owner' && !hasAcceptedTimeframe(booking)">
        {{ booking.person.firstName | wantsToRent : booking.resource }}
      </span>
      <span ng-if="userPerspective==='owner' && hasAcceptedTimeframe(booking) && !hasRequestedTimeframe(booking)">
        {{ booking.person.firstName | hasRented : booking.resource }}
      </span>
      <span ng-if="userPerspective==='owner' && hasAcceptedTimeframe(booking) && hasRequestedTimeframe(booking)">
        {{ booking.person.firstName | wantsToChangeBooking }}
      </span>
      <span ng-if="userPerspective==='renter' && !hasAcceptedTimeframe(booking)">
        {{ 'BOOKING_REQUESTED_RENTER' | translate }}
      </span>
      <span ng-if="userPerspective==='renter' && hasAcceptedTimeframe(booking)">
        {{ 'BOOKING_ACCEPTED_RENTER' | translate }}
      </span>
    </h2>
  </div>

  <div class="card-body">

    <!-- resource -->
    <div ng-if="userPerspective==='owner'" ng-include="'resource/partials/resource-header3.tpl.html'"></div>
    <div ng-if="userPerspective==='renter'" ng-include="'resource/partials/resource-header2.tpl.html'"></div>
    <hr/>

    <!-- alert -->
    <div class="alert alert-warning" ng-if="['cancelled', 'owner_cancelled', 'rejected'].indexOf(booking.status) >= 0">
      <span>{{ booking.status | bookingStatus }}</span>
    </div>

    <!-- accepted times -->
    <div ng-if="hasAcceptedTimeframe(booking)">
      <div class="media">
        <div class="media-object auto-height pull-left">
          <div class="booking__timeframe booking__timeframe--accepted">
            <datetime datetime="{{ booking.beginBooking }}"></datetime>
            <datetime datetime="{{ booking.endBooking }}"></datetime>
            <span class="tag tag-{{ booking.status }}">{{ booking.status | bookingStatus }}</span>
            <i booking-approval-icon="booking"></i>
          </div>
        </div>
        <div class="media-body no-padding">

          <!-- FORM TOGGLE -->
          <button ng-if="allowEdit && !showBookingForm && !hasRequestedTimeframe(booking)"
            type="button" class="btn btn-default"
            scroll-to="bookingFormContainer"
            ng-click="editBooking(bookingRequest)">
            {{ 'EDIT_BOOKING' | translate }}
          </button>

          <!-- CANCEL -->
          <button ng-if="allowCancel && !showBookingForm && !allowEdit && !hasRequestedTimeframe(booking)"
            type="button" class="btn btn-default"
            ng-click="cancelBooking(booking)">
            {{ 'CANCEL_BOOKING' | translate }}
          </button>

        </div>
      </div>
      <hr/>
    </div>

    <!-- requested times -->
    <div ng-if="hasRequestedTimeframe(booking)">
      <div class="media">
        <div class="media-object auto-height pull-left">
          <div class="booking__timeframe booking__timeframe--requested">
            <datetime datetime="{{ booking.beginRequested }}"></datetime>
            <datetime datetime="{{ booking.endRequested }}"></datetime>
            <span ng-if="!hasAcceptedTimeframe(booking)" class="tag tag-{{ booking.status }}">{{ booking.status | bookingStatus }}</span>
            <span ng-if="hasAcceptedTimeframe(booking)" class="tag tag-requested">{{ 'requested' | bookingStatus }}</span>
          </div>
        </div>
        <div class="media-body no-padding">

          <!-- FORM TOGGLE -->
          <button ng-if="allowEdit && !showBookingForm"
            type="button" class="btn btn-default"
            scroll-to="bookingFormContainer"
            ng-click="editBooking(bookingRequest)">
            {{ 'EDIT_BOOKING' | translate }}
          </button>

          <!-- CANCEL -->
          <button ng-if="allowCancel && !showBookingForm && !allowEdit"
            type="button" class="btn btn-default"
            ng-click="cancelBooking(booking)">
            {{ 'CANCEL_BOOKING' | translate }}
          </button>

          <!-- ACCEPT / REJECT -->
          <div ng-if="allowAcceptReject">
            <div class="form-group">
              <label>{{ 'BOOKING.REMARK_AUTHORIZER_LABEL' | translate }}</label>
              <textarea class="form-control" ng-model="userInput.acceptRejectRemark" />
            </div>
            <button type="button" class="btn btn-success" ng-click="acceptBooking(booking)">Accepteren</button>
            <button type="button" class="btn btn-danger" ng-click="rejectBooking(booking)">Weigeren</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FORM -->
<div id="bookingFormContainer" uib-collapse="!showBookingForm">
  <div class="card">
    <div class="card-heading"><h2 class="card-title">Reservering wijzigen</h2></div>
    <div class="card-body">

      <!-- price -->
      <div class="branding_booking_resource_price" ng-include="'resource/partials/resource-price.tpl.html'"></div>

      <div class="booking-form">
        <form class="booking" timeframe begin="bookingRequest.beginRequested" end="bookingRequest.endRequested">
          <div class="form-group">
            <label for="beginRequested">
              {{ 'DATE_START' | translate }}&nbsp;
              <button id="booking_now_button" type="button" class="btn btn-warning btn-xs" ng-click="setTimeframe(bookingRequest, 0)">{{ 'NOW' | translate }}</button>
            </label>
            <div class="row">
              <div class="col-xs-7">
                <input id="beginRequested" type="text" placeholder="{{ 'DATE' | translate }}" class="form-control pickadate-input" ng-model="bookingRequest.beginRequested" pickadate="dateConfig">
              </div>
              <div class="col-xs-5">
                <input id="endBequested" type="text" placeholder="{{ 'TIME' | translate }}" class="form-control pickadate-input" ng-model="bookingRequest.beginRequested" pickatime="timeConfig">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="endTrip">
              {{ 'DATE_END' | translate }}&nbsp;
              <button type="button" class="btn btn-default btn-xs" ng-click="extendBooking(bookingRequest, 1)">{{ 'PLUS_1_HOUR' | translate }}</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="extendBooking(bookingRequest, 2)">{{ 'PLUS_2_HOUR' | translate }}</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="extendBooking(bookingRequest, 4)">{{ 'PLUS_4_HOUR' | translate }}</button>
            </label>
            <div class="row">
              <div class="col-xs-7">
                <input type="text" placeholder="{{ 'DATE' | translate }}" class="form-control pickadate-input" ng-model="bookingRequest.endRequested" pickadate="dateConfig">
              </div>
              <div class="col-xs-5">
                <input type="text" placeholder="{{ 'TIME' | translate }}" class="form-control pickadate-input" ng-model="bookingRequest.endRequested" pickatime="timeConfig">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="endTrip" ng-bind="'BOOKING.REMARK_REQUESTER_LABEL' | translate"></label>
            <textarea class="form-control" ng-model="bookingRequest.remarkRequester"></textarea>
          </div>

          <!-- disclaimer -->
          <div class="alert alert-danger" ng-if="booking.approved==='OK'">
            <i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;
            <span ng-switch="booking.bookingAlterationStrategy">
              <span ng-switch-when="default">{{ 'BOOKING_ALTERATION_STRATEGY_DEFAULT' | translate }}</span>
              <span ng-switch-when="mywheels_go">{{ 'BOOKING_ALTERATION_STRATEGY_MYWHEELS_GO' | translate }}</span>
              <span ng-switch-when="anwb">{{ 'BOOKING_ALTERATION_STRATEGY_ANWB' | translate }}</span>
            </span>
          </div>

          <!-- availability & price -->
          <div class="form-group" ng-if="price || isPriceLoading || availability || isAvailabilityLoading">
            <div class="text-center">
              <h4 ng-if="availability.available==='no'"><i class="fa fa-times text-danger" ></i> Niet beschikbaar</h4>
              <h4 ng-if="availability.available==='yes'"><i class="fa fa-check text-success" ></i> Beschikbaar</h4>
              <h4 ng-if="availability.available==='yes' && price">
                Kosten:
                <span>{{ price.total | currency }}</span>
                <info-icon tooltip-html="priceHtml(price)"></info-icon>
              </h4>
              <h4 ng-if="isPriceLoading || isAvailabilityLoading"><i class="fa fa-spinner fa-spin"></i></h4>
            </div>
          </div>

          <!-- buttons -->
          <div class="text-center">
            <p>
              <button class="btn btn-primary" ng-if="allowEdit"
                ng-disabled="bookingRequest.beginRequested === booking.beginBooking && bookingRequest.endRequested === booking.endBooking"
                ng-click="editBooking(bookingRequest)">
                {{ 'EDIT_BOOKING' | translate }}
              </button>

              <button class="btn btn-default" ng-if="allowCancel"
                ng-click="cancelBooking(booking)">
                {{ 'CANCEL_BOOKING' | translate }}
              </button>

              <button class="btn btn-default" ng-if="allowStop"
                ng-click="stopBooking(booking)">
                {{ 'STOP_BOOKING' | translate }}
              </button>

              <a target="_blank" ng-href="{{ $state.href('owm.resource.calendar', {city: resource.city, resourceId: resource.id}) }}" class="btn btn-default">
                <i class="fa fa-calendar"></i> {{ 'CALENDAR_BUTTON' | translate }}
              </a>

            </p>
          </div>

        </form>
      </div>
      <div class="text-center">
        <p>
          <a class="btn btn-link btn-sm" ng-click="showBookingForm = false">
            <i class="fa fa-chevron-up"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div><!--/ FORM -->

<!-- board computer -->
<div class="card" ng-if="allowBoardComputer">
  <div class="card-body">
    <div id="resource__boardcomputer" class="text-center">
      <ul class="list-inline">
        <li>
          <button  ng-click="openDoor(resource)" class="btn btn-lg btn-default btn-success"><i class="fa fa-unlock fa-fw fa-lg"></i></button>
        </li>
        <li>
          <button  ng-click="closeDoor(resource)" class="btn btn-lg btn-default btn-danger"><i class="fa fa-lock fa-fw fa-lg"></i></button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- remarks -->
<div class="card" ng-if="booking.remarkRequester || booking.remarkAuthorizer">
  <div class="card-heading">
    <h2 class="card-title">Opmerkingen</h2>
  </div>
  <div class="card-body">
    <div class="booking__remarks text-left">
      <div class="booking__remarks__remark" ng-if="booking.remarkRequester">
        <h4>{{ booking.person | fullname }}:</h4>
        {{ booking.remarkRequester }}
      </div>
      <div class="booking__remarks__remark" ng-if="booking.remarkAuthorizer">
        <hr/>
        <h4>{{ booking.resource.owner | fullname }}:</h4>
        {{ booking.remarkAuthorizer }}
      </div>
    </div>
  </div>
</div>

<!-- renter -->
<div class="card" ng-if="userPerspective==='owner'">
  <div class="card-heading">
    <h3 class="card-title">{{ 'RENTER' | translate }}</h3>
    <div class="media">
      <img class="media-object pull-left img-user-small" person-profile-image="{ person: booking.person, size: 'small' }">
      <div class="media-body">
        <h4 class="media-heading"><a ui-sref="member({ personId: booking.person.id })">{{ booking.person | fullname }}</a></h4>
        <div ng-if="booking.person.created">
          <small class="text-muted">{{ booking.person.created | memberSince }}</small>
        </div>
        <div><span badge-list="booking.person.badges"></span></div>
        <button type="button" class="btn btn-link" ng-click="openChatWith(booking.person)">
          <i class="fa fa-comment fa-fw"></i>
          Stuur een bericht
        </button>
      </div>
    </div>
  </div>
</div>

<!-- owner -->

<div class="card" ng-if="userPerspective==='renter'">
  <div class="card-heading">
    <h3 class="card-title">{{ 'OWNER' | translate }}</h3>
    <div class="media">
      <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.owner, size: 'small' }" />
      <div class="media-body">
        <h4 class="media-heading"><a ui-sref="member({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></h4>
        <div ng-if="resource.owner.created" class="text-muted">
          <small>{{ resource.owner.created | memberSince }}</small>
        </div>
        <div><span badge-list="resource.owner.badges"></span></div>
        <button type="button" class="btn btn-link" ng-click="openChatWith(resource.owner)">
          <i class="fa fa-comment fa-fw"></i>
          Stuur een bericht
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div ng-if="resource.advertisement">
      <h5>{{ 'ABOUT_CAR' | translate}}</h5>
      <p>{{ resource.advertisement }}</p>
    </div>
    <div ng-if="resource.owner.about">
      <h5>{{ 'ABOUT_ME' | translate }}</h5>
      <p>{{ resource.owner.about}}</p>
    </div>
  </div>
</div>

<!-- contact person -->

<div class="card" ng-if="userPerspective==='renter' && resource.contactPerson && (resource.contactPerson.id !== resource.owner.id)">
  <div class="card-heading">
    <h3 class="card-title">{{ 'CONTACT_PERSON' | translate }}</h3>
    <div class="media">
      <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.contactPerson, size: 'small' }" />
      <div class="media-body">
        <h4 class="media-heading"><a ui-sref="member({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></h4>
        <div ng-if="resource.contactPerson.created" class="text-muted">
          <small>{{ resource.contactPerson.created | memberSince }}</small>
        </div>
        <div><span badge-list="resource.contactPerson.badges"></span></div>
        <button type="button" class="btn btn-link" ng-click="openChatWith(resource.contactPerson)">
          <i class="fa fa-comment fa-fw"></i>
          Stuur een bericht
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div ng-if="resource.contactPerson.about">
      <h5>{{ 'ABOUT_ME' | translate }}</h5>
      <p>{{ resource.contactPerson.about}}</p>
    </div>
  </div>
</div>

<!-- received invoices -->
<div class="card" ng-if="receivedInvoices.length > 0 && sentInvoices.length = 0">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="isInvoicesCollapsed = !isInvoicesCollapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isInvoicesCollapsed, 'fa-chevron-down': !isInvoicesCollapsed }">
      </i>
      Kosten
      </a>
    </h3>
  </div>
  <div uib-collapse="isInvoicesCollapsed">
    <div class="card-body">
      <table class="table">
        <tr>
          <th>Omschrijving</th>
          <th>Bedrag</th>
        </tr>
        <tr ng-repeat="invoice in receivedInvoices">
          <td>{{ invoice.description }}</td>
          <td>{{ invoice.total | currency }}</td>
        </tr>
        <tr>
          <td><b>Totaal</b></td>
          <td>
            <b>{{ receivedInvoicesTotalAmount | currency }}</b>
<!--             &nbsp;<button type="button" class="btn btn-primary pull-right" ng-click="payInvoices()">Betalen</button> -->
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- sent invoices -->
<div class="card" ng-if="sentInvoices.length > 0">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="isSentInvoicesCollapsed = !isSentInvoicesCollapsed">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': isSentInvoicesCollapsed, 'fa-chevron-down': !isSentInvoicesCollapsed }">
      </i>
      {{ 'BOOKING_SENT_INVOICES_TITLE' | translate }}
      </a>
    </h3>
  </div>
  <div uib-collapse="isSentInvoicesCollapsed">
    <div class="card-body">
      <table class="table">
        <tr>
          <th>Omschrijving</th>
          <th>Bedrag</th>
        </tr>
        <tr ng-repeat="invoice in sentInvoices">
          <td>{{ invoice.description }}</td>
          <td>{{ invoice.total | currency }}</td>
        </tr>
        <tr ng-repeat="invoice in receivedInvoices">
          <td>{{ invoice.description }}</td>
          <td>{{ -invoice.total | currency }}</td>
        </tr>
        <tr>
          <td><b>Totaal</b></td>
          <td>
            <b>{{ sentInvoicesTotalAmount - receivedInvoicesTotalAmount | currency }}</b>
<!--             &nbsp;<button type="button" class="btn btn-primary pull-right" ng-click="payInvoices()">Betalen</button> -->
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- pricing -->

<!--
<div class="card text-center" ng-if="receivedInvoices && receivedInvoices.length <= 0">
  <div class="card-heading">
    <h4 class="card-title">{{ 'RESOURCE_PRICE' | translate }}</h4>
  </div>
  <div class="card-body">

    <div id="resource-price" class="text-center">
      <ul class="resource__price-list list-inline">
        <li ng-if="!showPricePerHour">
          {{ resource.price.dayRateTotal | currency }}
          <div class="resource_price-list__unit">{{ 'PER_DAY' | translate }}</div>
        </li>
        <li ng-show="showPricePerHour">
          {{ resource.price.hourRate | currency }}
          <div class="resource_price-list__unit">{{ 'PER_HOUR' | translate }}</div>
        </li>

        <li ng-hide="resource.refuelByRenter"><i class="fa fa-plus fa-lg text-muted"></i></li>
        <li ng-hide="resource.refuelByRenter">
          {{ resource.price.fuelPerKilometer | currency }}
          <div class="resource_price-list__unit">{{ 'PER_FUEL' | translate }}</div>
        </li>

        <li><i class="fa fa-plus fa-lg text-muted"></i></li>

        <li>
          {{ resource.price.kilometerRate | currency }}
          <div class="resource_price-list__unit">{{ 'PER_KM' | translate }}</div>
        </li>
      </ul>

      <div ng-show="resource.price.kmFree" class="text-success">
        <span ng-if="!showPricePerHour">{{ 'FREE_KM_DAY' | translate }}</span>
        <span ng-if="showPricePerHour">{{ 'FREE_KM_HOUR' | translate }}</span>
      </div>

      <div ng-if="resource.refuelByRenter" class="text-success">
        <span ng-bind="'RESOURCE_REFUEL_BY_RENTER' | translate"></span>
      </div>

      <div id="resource_price_per_hour_button">
        <button type="button" class="btn btn-sm btn-link" ng-click="showPricePerHour = !showPricePerHour">{{ 'SHOW_PRICE' | translate }} {{ !showPricePerHour ? ('PER_HOUR' | translate) : ('PER_DAY' | translate) }}</button>
      </div>
    </div>

  </div>
</div>
 -->

<!-- resource features -->
<div class="card">
  <div class="card-heading">
    <h3 class="card-title">
      {{ resource.brand || 'Onbekend merk'}} <span ng-if="resource.model">, {{ resource.model }}</span>
    </h3>
  </div>
  <div class="card-body">
    <div ng-include="'resource/partials/resource-features.tpl.html'"></div>
  </div>
</div>

<!-- map -->
<div class="card" ng-if="allowMap">
  <div class="card-heading" ng-if="resource.location || resource.city">
    <h3 class="card-title">{{ resource.location }} <small>{{ resource.city }}</small></h3>
  </div>
  <ui-gmap-google-map
       center="map.center"
       zoom="map.zoom"
       draggable="false"
       dragging="map.dragging"
       bounds="map.bounds"
       events="map.events"
       options="map.options">
       <ui-gmap-marker ng-repeat="m in map.markers" idKey="m.idKey" coords="m" icon="m.icon"></ui-gmap-marker>
  </ui-gmap-google-map>
</div>

