<div ng-show="modalOptions.headerText" class="modal-header">
  <h4 class="modal-title">Weet je zeker dat je de reservering wilt annuleren?</h4>
</div>
<div class="modal-body">
  <p>Weet je zeker dat je de reservering wilt annuleren? Aan kort van te voren annuleren kunnen kosten verbonden zijn. Zie de voorwaarden en voor meer informatie.</p>
  <p><a href="https://mywheels.nl/autodelen/hoe-huren-werkt/tarieven-huren/" target="_self">Hier vind je de tarieven</a></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok();">Ja, annuleer rit</button>
  <button type="button" class="btn btn-link" data-ng-click="modalOptions.close()">Nee, behoud rit</button>
</div>

