<nav headroom offset="200" tolerance="5" class="navbar navbar-default navbar-fixed-top animated" role="navigation">
  <div class="container" ng-class="{ 'container-transitional': containerTransitional }">

    <div class="navbar-header">
      <a class="navbar-brand" href="" ui-sref="home" snap-close>
        <img ng-src="branding/img/logo.png" />
      </a>

      <!-- tabs -->
      <ul class="navbar-tabs hidden-xs hidden-sm">

        <!-- may be hidden by branding css -->
        <li id="navbar_rent_a_car" class="navbar-tab" ng-class="{ active: $state.includes('owm.resource.search.list') }">
          <a ui-sref="owm.resource.search.list" ng-bind="'RENT_A_CAR' | translate | lowercase">&nbsp;</a>
        </li>

        <!-- may be hidden by branding css -->
        <li id="navbar_list_your_car" class="navbar-tab" ng-class="{ active: $state.includes('owm.resource.create') }">
          <a ng-if="user.isAuthenticated" ui-sref="owm.resource.create" ng-bind="'LIST_YOUR_CAR' | translate | lowercase">&nbsp;</a>
          <a ng-if="!user.isAuthenticated && !features.verhuurTussenscherm" ng-href="{{ 'NAVBAR.LIST_YOUR_CAR_URL' | translate }}" ng-bind="'LIST_YOUR_CAR' | translate | lowercase">&nbsp;</a>
          <a ng-if="!user.isAuthenticated && features.verhuurTussenscherm" ui-sref="list-your-car" ng-bind="'LIST_YOUR_CAR' | translate | lowercase">&nbsp;</a>
        </li>

        <!-- may be hidden by branding css -->
        <li id="navbar_how_it_works" class="navbar-tab">
          <a href="{{ 'NAVBAR.HOW_IT_WORKS_URL' | translate }}" ng-bind="'NAVBAR.HOW_IT_WORKS' | translate | lowercase">&nbsp;</a>
        </li>
      </ul>

      <div class="user-nav">
        <a ng-if="user.isAuthenticated" class="navbar-item" href="" snap-toggle="right">
          <i ng-if="user.isPending" class="fa fa-spinner fa-spin"></i>
          <div ng-if="!user.isPending && user.identity" class="pull-left truncate" style="width: 110px">{{ user.identity.firstName }}&nbsp;</div>
          <i class="fa fa-fw fa-bars"></i>
        </a>
        <a ng-if="!user.isAuthenticated" ng-click="login()" class="btn btn-xs btn-link navbar-item navbar-item--small pull-right" snap-close>{{ 'LOGIN' | translate }}</a>

        <div ng-if="!user.isAuthenticated" class="navbar-item navbar-item--small pull-right">
          <a class="btn btn-xs btn-success" ui-sref="signup" snap-close>{{ 'SIGNUP' | translate }}</a>
        </div>

      </div>
    </div>
  </div>
</nav>
<div class="offcanvas-nav" snap-drawer="right">

  <ul class="list-unstyled nav--side" ng-if="user.isAuthenticated">
    <li id="menu-item-dashboard" ng-class="{ active: $state.includes('owm.person.dashboard') }">
      <a href="" ui-sref="owm.person.dashboard" snap-close>{{ 'MY_DASHBOARD' | translate }}</a>
    </li>
    <li id="menu-item-dashboard" ng-class="{ active: $state.includes('owm.message') }">
      <a href="" ui-sref="owm.message" snap-close>{{ 'MY_MESSAGES' | translate }}</a>
    </li>
    <li class="divider"></li>
  </ul>

  <ul class="list-unstyled nav--side">
    <li id="menu-item-rent-a-car" ng-class="{ active: $state.includes('owm.resource.search.list') }">
      <a href="" ui-sref="owm.resource.search.list" snap-close>{{ 'RENT_A_CAR' | translate }}</a>
    </li>
    <li id="menu-item-list-your-car" ng-class="{ active: $state.includes('owm.resource.create') }">
      <a href="" ui-sref="owm.resource.create" snap-close>{{ 'MY_RESOURCES' | translate }}</a>
    </li>
    <li id="menu-item-how-it-works">
      <a snap-close href="{{ 'NAVBAR.HOW_IT_WORKS_URL' | translate }}" ng-bind="'NAVBAR.HOW_IT_WORKS' | translate"></a>
    </li>
    <li class="divider"></li>
  </ul>

  <ul class="list-unstyled nav--side" ng-if="user.isAuthenticated">
    <li id="menu-item-profile" ng-class="{ active: $state.includes('owm.person.profile') }">
      <a href="" ui-sref="owm.person.profile" snap-close>{{ 'MY_PROFILE' | translate }}</a>
    </li>

    <li ng-if="features.invoiceModuleV1" ng-class="{ active: $state.includes('owm.financeV1') }">
      <a href="" ui-sref="owm.financeV1.index" snap-close>Mijn facturen</a>
    </li>

    <li id="menu-item-financial" ng-if="features.invoiceModuleV2" ng-class="{ active: $state.includes('owm.finance') }">
      <a href="" ui-sref="owm.finance.index" snap-close>{{ 'MY_FINANCIALS' | translate }}</a>
    </li>

    <li id="menu-item-trips" ng-class="{ active: $state.includes('owm.trips') }">
      <a href="" ui-sref="owm.trips" snap-close>{{ 'MY_TRIPS' | translate }}</a>
    </li>
  </ul>

  <ul class="list-unstyled nav--side" ng-if="user.isAuthenticated">
    <li class="divider"></li>
    <li id="menu-item-logout">
      <a href="" ng-click="logout()" snap-close>{{ 'LOGOUT' | translate }}</a>
    </li>
  </ul>

</div>
