<div class="card">
  <div class="card-heading">
    <h2 class="card-title">Huur een auto in drie stappen</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-heading">
        <h4 class="card-title">
          1. Kies een auto <i class="fa fa-check text-success"></i>
        </h4>
      </div>
      <div class="card-body">
        <div class="pull-right">
          <div class="resource__alias">Tijden:</div>
          <datetime datetime="{{booking.startTime}}"></datetime>
          <datetime datetime="{{booking.endTime}}"></datetime>
        </div>
        <div ng-include="'resource/partials/resource-header2.tpl.html'"> </div>
      </div>
    </div>

    <div class="card" ng-if="user.isAuthenticated">
      <div class="card-heading">
        <h4 class="card-title">
          2. Word gratis lid <i class="fa fa-check text-success" ng-if="person.status == 'book-only' || person.status == 'active'"></i>
        </h4>
      </div>
      <div class="card-body">
        <div>{{person.firstName}} {{person.preposition}} {{ person.surname}}</div>
        <div>{{person.streetName}} {{person.streetNumber}} te {{person.city}}</div>
        <div>{{person.email}}</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div ui-view></div>
  </div>

</div>
