<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title bind-meta bind-meta-prop="title"></title>
  <meta name="description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/x-icon" href="branding/img/favicon.ico">
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <link rel="stylesheet" type="text/css" href="branding/style.css">

  <!-- OpenGraph -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="" bind-meta bind-meta-attr="content" bind-meta-prop="url"/>
  <meta property="og:title" content="Huur voordelig een auto" bind-meta bind-meta-attr="content" bind-meta-prop="title"/>
  <meta property="og:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta property="og:image" content="" bind-meta bind-meta-attr="content" bind-meta-prop="image"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="" bind-meta bind-meta-attr="content" bind-meta-prop="title"/>
  <meta name="twitter:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta name="twitter:image:src" content="" bind-meta bind-meta-attr="content" bind-meta-prop="image"/>
</head>

<body>
  <div ng-include="'alert/alert.tpl.html'"></div>
  <div class="snap-container">
    <div class="" ui-view="navigation">
      <div class="text-center loading" ng-show="loader" type="loader.type"><i class="fa fa-spin fa-2x fa-fw fa-spinner"></i></div>
    </div>
    <div class="wrap" snap-content snap-close>
      <div class="page">
        <div style="min-height: 600px">
          <div class="container-full">
            <div ui-view="main-full"></div>
          </div>
          <div class="container container-main">
            <div ui-view="main"></div>
          </div>
        </div>
        <div ui-view="footer"></div>
      </div>
    </div>
  </div>

  <% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>
  <script type="text/javascript">
    var LHCChatOptions = {};
    LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
    var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
    po.src = 'https://support.mywheels.nl/lhc/index.php/nld/chat/getstatus/(click)/internal/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true/(department)/1?r='+referrer+'&l='+location;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</body>
</html>
