<!DOCTYPE html>
<html>
<head>
	  <base href="/">
  <title bind-meta bind-meta-prop="title"></title>
  <meta name="description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="branding/img/favicon.ico">
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <link rel="stylesheet" type="text/css" href="branding/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- OpenGraph -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="" bind-meta bind-meta-attr="content" bind-meta-prop="url"/>
  <meta property="og:title" content="Huur voordelig een auto" bind-meta bind-meta-attr="content" bind-meta-prop="title"/>
  <meta property="og:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta property="og:image" content="" bind-meta bind-meta-attr="content" bind-meta-prop="image"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="" bind-meta bind-meta-attr="content" bind-meta-prop="title"/>
  <meta name="twitter:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description"/>
  <meta name="twitter:image:src" content="" bind-meta bind-meta-attr="content" bind-meta-prop="image"/>

  <!-- Optimizely -->
  <script src="https://cdn.optimizely.com/js/5390511383.js"></script>
</head>

<body layout="column">
  <div ui-view layout-fill>
    <div class="global-spinner" ng-show="loader" type="loader.type"><i class="fa fa-spin fa-2x fa-fw fa-spinner"></i></div>
  </div>

  <div ng-controller="LivehelperChatController"></div>

  <% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>
</body>

</html>
