<div class="media">
  <img ng-if="!isWindowSizeLG" class="media-object img-resource-small pull-left" ng-src="{{ resource.pictures[0] | resourceAvatar:'small' }}">
  <img ng-if="isWindowSizeLG" class="media-object img-resource-normal pull-left" ng-src="{{ resource.pictures[0] | resourceAvatar:'normal' }}">
  <div class="media-body">

    <div ng-if="isWindowSizeXS" class="pull-right" style="margin: 20px 0 0 8px">
      <i class="fa fa-chevron-right"></i>
    </div>

    <div class="pull-right text-right" style="margin-top: 9px">
      <div>{{ resource.price.dayRateTotal | currency }}</div>
      <div ng-if="resource.price.kmFree" class="text-success">
        <small ng-if="isWindowSizeXS">{{ 'FREE_KM_DAY' | translate }}</small>
        <small ng-if="!isWindowSizeXS">{{ 'FREE_KM_DAY_SHORT' | translate }}</small>
      </div>
    </div>

    <div class="truncate">
      <a href="" class="resource__alias">{{ resource.alias || ('RESOURCE_NO_NAME' | translate) }}</a>
      <span ng-if="resource.brand || resource.model"> - {{ (resource.brand + ' ' + resource.model) | toTitleCase }}</span>
    </div>

    <div class="truncate">
      <i class="fa fa-map-marker fa-fw"></i>
      <span>{{ resource.location }}</span>
      <span ng-if="isWindowSizeXS">{{ resource.city }}</span>
      <span ng-if="resource.distance_to"> ({{ resource.distance_to | formatKilometers }})</span>
    </div>

    <div class="truncate">
      <i class="fa fa-user fa-fw"></i> {{ resource.owner.firstName }}</a>
      <span rating-thumb="{ value : resource.rating.satisfaction, senders : resource.rating.senders }"></span>
      <resource-favorite-star resource="resource"></resource-favorite-star>
    </div>

  </div>
</div>
