<!-- display to owner -->

<div class="media">
  <img class="media-object img-resource-small pull-left" ng-src="{{ resource.pictures[0] | resourceAvatar:'small' }}" ui-sref="owm.resource.show({ resourceId: resource.id, city: resource.city })">

  <div class="media-body">

    <div class="pull-right text-right" ng-show="resource.provider.id === 5">
      <parkingpermit ng-if="features.parkingpermit" resource="resource"></parkingpermit><br />
      <insurance resource="resource"></insurance>
    </div>

    <div class="resource__alias truncate" ui-sref="owm.resource.show({ resourceId: resource.id, city: resource.city })">
      {{ resource.alias }} {{ resource.registrationPlate | surroundWith : '(' : ')' }}
    </div>

    <div class="truncate">
      <i class="fa fa-map-marker"></i>&nbsp;{{ resource.location }}, {{ resource.city }}
    </div>

    <div ng-if="!resource.isActive" class="text-danger">
      <i class="fa fa-exclamation-circle fa-fw"></i>{{ 'RESOURCE_INACTIVE_WARNING' | translate }}
    </div>

  </div>
</div>
