<footer class="page-footer footer-color center-on-small-only" >
  <div class="container" ng-class="{ 'container-transitional': containerTransitional, 'container-home': containerHome, 'intro__page': containerIntro  }">

    <div ng-if="features.myWheelsFooter" class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">
          <h4 class="no-margin">{{ 'CAR_SHARING_TITLE' | translate }}</h4>
          <a href="https://mywheels.nl/auto-huren">{{ 'RENT_A_CAR' | translate }}</a><br/>
           <a ng-if="!user.isAuthenticated" href="https://mywheels.nl/auto-verhuren">{{ 'LIST_YOUR_CAR' | translate }}</a><br ng-if="!user.isAuthenticated"/>
          <a ng-if="user.isAuthenticated" href="http://mywheels.nl/mijn-auto">{{ 'LIST_YOUR_CAR' | translate }}</a><br ng-if="user.isAuthenticated"/>
          <a href="https://mywheels.nl/autodelen/zakelijk-autodelen/">{{ 'BUSINESS' | translate }}</a><br/>
        </div>

        <div class="col-md-3 col-sm-3 hidden-xs" style="white-space: nowrap">
          <h4 class="no-margin">{{ 'SPECIAL_CARS_TITLE' | translate }}</h4>
          <a href="https://mywheels.nl/auto-huren?type=van">{{ 'VAN_RENT' | translate }}</a><br/>
          <a href="https://mywheels.nl/auto-huren?type=cabrio">{{ 'CABRIO_RENT' | translate }}</a><br/>
          <a href="https://mywheels.nl/auto-huren?type=camper">{{ 'CAMPER_RENT' | translate }}</a><br/>
          <a href="https://mywheels.nl/auto-huren?fuel=elektrisch">{{ 'ELECTRIC_RENT' | translate }}</a><br/>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6" style="white-space: nowrap">
          <h4 class="no-margin">{{ 'DISCOVER_CAR_SHARING_TITLE' | translate }}</h4>
          <a href="https://mywheels.nl/autodelen/hoe-huren-werkt">{{ 'HOW_RENT_WORKS' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/veelgestelde-vragen/">{{ 'FAQ' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering">{{ 'INSURANCE' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/hoe-huren-werkt/tarieven-huren/">{{ 'PRICING' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/hoe-autodelen-werkt/voorwaarden/">{{ 'TERMS' | translate }}</a><br/>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
          <h4 class="no-margin">{{ 'ABOUT_MYWHEELS_TITLE' | translate }}</h4>
          <a href="https://mywheels.nl/autodelen/community/onze-idealen/">{{ 'OUR_IDEALS' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/community/onze-mensen/">{{ 'OUR_PEOPLE' | translate }}</a><br/>
          <a href="http://blog.mywheels.nl/">{{ 'BLOG' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/community/meehelpen/">{{ 'JOBS' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/community/contact/">{{ 'CONTACT' | translate }}</a><br/>
          <a href="https://mywheels.nl/autodelen/community/pers/">{{ 'PRESS' | translate }}</a><br/>
        </div>
    </div>

    <div ng-if="features.myWheelsFooter" class="footer-social-row text-center footer-color">
      <h4>{{ 'FOOTER_SOCIAL_TITLE' | translate }}</h4>
      <a target="_blank" href="https://twitter.com/my_wheels"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
      <a target="_blank" href="https://www.facebook.com/mywheelsnl"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
      <a target="_blank" href="https://www.linkedin.com/groups/MyWheels-3913116"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/MyWheels"><i class="fa fa-fw fa-2x fa-github"></i></a>
    </div>

    <div ng-if="!features.myWheelsFooter" class="footer text-center footer-color" style="color: #888">
      <h4 class="no-margin">{{ 'MYWHEELS_FOOTER' | translate }}</h4>
    </div>

    <div style="padding: 10px" ng-class="{ 'bg-white': features.myWheelsFooter }" class="footer-color">
      <ul class="list-inline text-center" id="language-switch">
        <li>
          <button ng-disabled="currentLanguage() === 'nl_NL'" class="btn btn-link btn-sm" ng-click="changeLanguage('nl_NL')">{{ 'DUTCH' | translate }}</button>
        </li>
        <li>
          <button ng-disabled="currentLanguage() === 'en_GB'" class="btn btn-link btn-sm" href="" ng-click="changeLanguage('en_GB')">{{ 'ENGLISH' | translate }}</button>
        </li>
        <li>
          <button ng-disabled="currentLanguage() === 'fr_FR'" class="btn btn-link btn-sm" href="" ng-click="changeLanguage('fr_FR')">{{ 'FRENCH' | translate }}</button>
        </li>
      </ul>
    </div>

  </div>
</footer>
