<div class="card" ng-if="invoiceGroups && invoiceGroups.length" ng-init="showMyInvoices=true">

  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="showMyInvoices = !!!showMyInvoices">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !showMyInvoices, 'fa-chevron-down': showMyInvoices }"></i>
        Uitbetaalde facturen
        <!-- exclamation mark if there are unpaid invoiceGroups -->
        <i ng-if="unpaidInvoiceGroups.length > 0" class="fa fa-exclamation-triangle text-danger" uib-tooltip="Tooltip"></i>
      </a>
    </h3>
  </div>

  <div uib-collapse="!showMyInvoices">
    <div class="card-body">

      <table class="table table-responsive table-condensed">
        <thead>
          <tr>
            <th>{{ 'DATE' | translate }}</th>
            <th>Verzamelfactuur</th>
            <th>Te ontvangen bedrag</th>
            <th>Uitbetaald bedrag</th>
            <th>Bekijk details</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoiceGroup in invoiceGroups">
            <td ng-if="invoiceGroup.due">{{invoiceGroup.due | amDateFormat:'DD-MM-YYYY' }}</td>
            <td ng-if="!invoiceGroup.due">{{ 'CONCEPT' | translate }}</td>
            <td>{{invoiceGroup.id}}</td>
            <td>{{invoiceGroup.total | currency}}</td>
            <td>{{invoiceGroup.paid | currency }}</td>
            <td>Details</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
