<div ng-include="'alert/alert.tpl.html'"></div>

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z4" md-component-id="sidenavLeft">
    <md-toolbar class="app-toolbar">
        <div class="md-toolbar-tools" layout-align="space-between center">
            <a class="app-logo">
                <img ng-src="branding/img/logo.png" />
            </a>
            <md-button class="md-icon-button" ng-click="closeMenu()">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ui-view="menu"></div>
</md-sidenav>

<div flex>

    <div id="scroll-to-top-anchor"></div>

    <div class="app-toolbar-row">
        <div ui-view="toolbar"></div>
    </div>

    <div class="min-content-height" style="z-index: 1">
        <div ui-view="main-full"></div>
        <div class="container container-main">
            <div ui-view="main"></div>
            <div class="push"></div>
        </div>
    </div>

    <div class="footer" ui-view="footer"></div>

</div>

<div class="cookiebar">
    <div class="cookiebar--content" ng-if="$root.cookieBar !== 'false'">
        <span translate="COOKIES_TERMS"></span>
        <button ng-click="acceptCookie()" class="cookiebar--btn"><span>{{'COOKIES_ACCEPT' | translate}}</span><md-icon class="text-white">close</md-icon></button>

    </div>
</div>

<div hide-xs class="cta-footer" ng-if="showCTA === true">
  <div class="relcon">
    <div class="cta-footer__text">
      <p>
					Deel je auto met de buren <md-button style="box-shadow: 0 0 3.57rem 0 rgba(0, 0, 0, .1); font-size: 0.8em; " ng-click="gotoPage()" class="btn-green app--toolbar--button--text md-button md-ink-ripple btn-green btn-lg">Verhuur je auto</md-button>
      </p>
    </div>
    <div class="cta-footer__close">
      <span ng-click="closeCTA()" class="no-outline"><i title="Verberg melding" class="fa fa-fw fa-2x fa-close"></i></span>
    </div>
  </div>
</div>
