<div class="home">
    <!-- SEARCHBAR -->
    <div ng-if="!features.homeCarousel" class="hero inverted text-center">
        <div class="hero-overlay"></div>
        <section class="container homepage-baseline">
            <h1 id="tagline" class="homepage-baseline-header fadeInDown animated">MyWheels maakt autodelen makkelijk</h1>

        </section>
        <section ng-if="features.homePage" class="homepage-searchbar" ng-include="'home/searchBar.tpl.html'"></section>
    </div>
    <!-- /SEARCHBAR -->


    <div class="renter--actions" ng-if="features.homePage">
        <!-- RENTER CALL TO ACTION -->
        <div class="renter--action">
            <section>
                <h2>Huur in de buurt</h2>
                <p>Met auto's in meer dan 500 plaatsen, vind je altijd wel een auto bij jou in de buurt. Boek een auto, haal de sleutel op en rijden maar! In veel plaatsen staan ook Smartwheels, dat zijn auto's die je opent met je OV-chipkaart of smartphone.
                    Ideaal! Geen vaste abonnementskosten en voordelige tarieven, bij ons betaal je alleen wanneer je een auto gebruikt.</p>
                <a type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-margin-top" href="/auto-huren?page=1" md-ink-ripple="#3a6d81">
                    Bekijk het aanbod
                </a>
            </section>
            <div class="renter--action--image renter--action--image--vw"></div>
        </div>
        <!-- /RENTER CALL TO ACTION -->

        <!-- RENTER CALL TO ACTION -->
        <div class="renter--action">
            <section>
                <h2>Verhuur en verdien</h2>
                <p>Je auto aanbieden is gratis. We vragen een kleine vergoeding zodra deze is verhuurd. En je weet zeker dat je goed verzekerd bent, want dat regelen wij voor je. Vul je kenteken in, plaats een paar mooie foto's en je kunt beginnen. Zo verdien
                    jij iets extra's aan je auto en kunnen jouw buren op pad.</p>
                <button type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-margin-top" ui-sref="list-your-car" md-ink-ripple="#3a6d81">
                    Meld je auto aan
                </button>
            </section>
            <div class="renter--action--image renter--action--image-handshake"></div>
        </div>
        <!-- /RENTER CALL TO ACTION -->
    </div>


    <!-- FEATURED SLIDER -->
    <div class="container-fluid slider" ng-if="features.featuredSlider">
        <div class="slider--container container" layout="column" layout-align="center center">
            <h2 class="slider--heading">{{'FEATURED_CARS_HEADING' | translate}}</h2>
            <slick dots="false" prev-arrow=".slick--prev" next-arrow=".slick--next" ng-if="resources_slider" responsive="[{breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3}}, {breakpoint: 768, settings: {slidesToShow: 2, slidesToScroll: 2 }}, {breakpoint: 450, settings: {slidesToShow: 1, slidesToScroll: 1 }}]"
                slides-to-show="4" slides-to-scroll="4">
                <div class="slider--slide" ng-repeat="resource in resources_slider">
                    <md-card ng-click="gotoProfile(resource)">
                        <div class="slider--slide--image">
                            <ow-resource-picture alttext="{{::'Huur: ' + resource.alias}}" resource="resource" size="large"></ow-resource-picture>
                            <span class="slider--slide--price">&euro;{{::resource.price.dayRateTotal}}</span>
                        </div>
                        <span title="{{::resource.alias}}" class="md-title slider--slide--alias">{{::resource.alias}}</span>
                        <span class="md-subhead slider--slide--location">{{::resource.city ? resource.city : ' '}}</span>
                    </md-card>
                </div>
            </slick>
            <md-card>
                <button type="button" class="slick--prev">
                    <md-icon>keyboard_arrow_left</md-icon>
                </button>
            </md-card>
            <md-card>
                <button type="button" class="slick--next">
                    <md-icon>keyboard_arrow_right</md-icon>
                </button>
            </md-card>
        </div>
    </div>
    <!-- /FEATURED SLIDER -->
    <div ng-if="features.homePage">
        <!-- ADAVANTAGES -->
        <div ng-if="lang" ng-include="'branding/home-content-' + lang + '.html?v=' + version"></div>
        <!-- /ADAVANTAGES -->

        <div class="imageblock">
            <div class="imageblock--content">
                <h3 class="imageblock--heading">Begin direct met huren</h3>
                <button class="mywheels-btn mywheels-btn-error mywheels-btn-margin-top" ui-sref="owm.auth.signup" md-ink-ripple="#9a3d26">{{ 'SIGNUP_SHORT' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="footer-logo-row text-center" ng-if="features.homePage">
        <div class="container">
            <div class="row">
                <div class="col-md-3" hide-xs hide-sm>
                    <h2 class="no-margin footer-logo-row-header">In de media</h2>
                    <img class="grayscale" src="assets/img/media/de_volkskrant_logo.png" />
                    <img class="grayscale" src="assets/img/media/nos_logo.png" />
                </div>
                <div class="col-md-3" hide-xs hide-sm>
                    <h2 class="no-margin">&nbsp;</h2>
                    <img class="grayscale" src="assets/img/media/de_telegraaf_logo.png" />
                    <img class="grayscale" src="assets/img/media/financieel_dagblad_logo.png" />
                </div>
                <div class="col-xs-6 col-md-3">
                    <h2 class="no-margin">Partners</h2>
                    <img class="grayscale" src="assets/img/partners/centraal_beheer_achmea_logo.png" />
                    <img class="grayscale" src="assets/img/partners/green_deal_logo.png" />
                </div>
                <div class="col-xs-6 col-md-3">
                    <h2 class="no-margin">&nbsp;</h2>
                    <img class="grayscale" src="assets/img/partners/peugeot_assistance_logo.png" />
                    <img class="grayscale" src="assets/img/partners/sharenl_logo.png" />
                </div>
            </div>
        </div>
    </div>
</div>
