<form>
  <div class="input-group" style="box-shadow: 4px 6px 8px rgba(0,0,0, 0.35)">
    <input type="text" ow-geocoder="{ onDetails: doSearch }" ng-model="search.text" class="form-control" placeholder="Waar wil je huren?" style="font-weight: normal;" />
    <div class="input-group-btn">
      <button hide-xs type="button" class="btn btn-success" ng-click="doSearch()">Zoek een auto</button>
      <button show-xs hide-gt-xs type="button" class="btn auto-width btn-success" ng-click="doSearch()">
        <md-icon>search</md-icon>
      </button>
    </div>
  </div>

  <div class="text-right">
    <a ng-if="!features.verhuurTussenscherm" ng-href="{{ 'NAVBAR.LIST_YOUR_CAR_URL' | translate }}" class="btn btn-primary"
      style="margin-top:20px; box-shadow: 4px 6px 8px rgba(0,0,0, 0.35)">{{ 'LIST_YOUR_CAR' | translate }}</a>
    <a ng-if="features.verhuurTussenscherm" ui-sref="list-your-car" class="btn btn-primary"
      style="margin-top:20px; box-shadow: 4px 6px 8px rgba(0,0,0, 0.35)">{{ 'LIST_YOUR_CAR' | translate }}</a>
  </div>

</form>
