<div class="container" ng-class="{ 'container-transitional': features.resourceSidebar }">
  <div class="row">
    <div ng-class="{ 'col-md-8 col-xs-12' : features.resourceSidebar }">

      <!-- edit -->
      <div class="card card-navigation clearfix">

        <div ng-if="me" class="text-warning pull-right" style="padding-top: 3px;">
          <div ng-if="!isFavoriteResolved">
            <i class="fa fa-heart-o fa-spin fa-2x text-muted"></i>
          </div>
          <div ng-if="isFavoriteResolved">
            <i class="fa fa-heart fa-2x" ng-if="isFavorite" ng-click="toggleFavorite(false)"></i>
            <i class="fa fa-heart-o fa-2x" ng-if="!isFavorite" ng-click="toggleFavorite(true)"></i>
          </div>
        </div>

        <button type="button" class="btn btn-link" ui-sref="owm.resource.search.list">
          <i class="fa fa-arrow-left"></i> {{ 'RESOURCE_BACK_TO_LIST' | translate }}
        </button>

        <button ng-if="me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)"
          ui-sref="owm.resource.edit({ resourceId: resource.id })" type="button" class="btn btn-link">
          <i class="fa fa-cog"></i> {{ 'EDIT_RESOURCE' | translate }}
        </button>
      </div>

      <div ng-if="resource.isActive && features.social && me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)" class="card card-notice">
        <div class="card-body">
          {{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}<br/>
          <div share-buttons url="shareUrl" resource="resource"></div>
        </div>
      </div>

      <!-- header -->
      <div class="card">
        <div ng-if="!isWindowSizeSM" ng-include="'resource/partials/resource-header2.tpl.html'"></div>

        <div ng-if="isWindowSizeSM">
          <div class="card-heading">
            <h2 class="card-title">
              {{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} <span ng-if="resource.registrationPlate"> <small>{{ resource.registrationPlate }}</small></span>
            </h2>
          </div>

          <div class="media" style="margin:0">
            <div class="media-object img-width50p pull-left" resource-carousel="resource"></div>

            <div class="media-body">
              <h3>
                {{ resource.brand || ('UNKNOWN_BRAND' | translate) }} <span ng-if="resource.model"> {{ resource.model }}</span>
              </h3>
              <div ng-include="'resource/partials/resource-features.tpl.html'"></div>
            </div>
          </div>

        </div>
      </div>

      <!-- board computer -->
      <div class="card" ng-if="me && resource.locktypes.indexOf('smartphone') >= 0 && (resource.owner.id === me.id || resource.contactPerson.id === me.id)">
        <div class="card-body">
          <div class="text-center">
            <ul class="list-inline">
              <li>
                <button  ng-click="openDoor(resource)" class="btn btn-lg btn-default btn-success"><i class="fa fa-unlock fa-fw fa-lg"></i></button>
              </li>
              <li>
                <button  ng-click="closeDoor(resource)" class="btn btn-lg btn-default btn-danger"><i class="fa fa-lock fa-fw fa-lg"></i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card" ng-if="!features.resourceSidebar || !isWindowSizeMD" >
        <div class="card-body">

          <!-- price -->
          <div ng-include="'resource/partials/resource-price.tpl.html'"></div>

          <!-- booking form -->
          <div class="text-center" ng-if="showBookingFormToggle">
            <p>
              <button class="btn btn-success" ng-click="toggleBookingForm()">
                {{ 'CREATE_BOOKING' | translate }}
              </button>
              <a class="btn btn-default" ui-sref="owm.resource.calendar({city: resource.city, resourceId: resource.id})">
                <i class="fa fa-calendar"></i> {{ 'CALENDAR_BUTTON' | translate }}
              </a>
            </p>
            <div class="text-center" ng-if="resource.response_accept !== null">
              <p>
                <small>
                  <i class="text-success fa fa-fw fa-check"></i>
                  {{ resource.owner.firstName }}
                  {{ 'ACCEPTED_REQUESTS_PREFIX' | translate }}
                  {{ resource.response_accept | percentage : 0 }}
                  {{ 'ACCEPTED_REQUESTS_SUFFIX' | translate}}
                </small>
              </p>
            </div>
          </div>
          <div id="createBookingContainer" uib-collapse="!showBookingForm">
            <reservation-form person="me" resource="resource" booking="booking" show-price="false"></reservation-form>
          </div>
          <!--/ booking form -->

          <div class="text-center">
            <p>
              <a class="btn btn-link btn-sm" ng-show="showBookingForm" ng-click="toggleBookingForm()">
                <i class="fa fa-chevron-up"></i>
              </a>
            </p>
          </div>

        </div>
      </div>

      <!-- resource information -->

      <div class="card" ng-if="!isWindowSizeSM">
        <div class="card-body">

          <!-- features -->
          <div class="truncate">
            <h4>{{ resource.brand || ('UNKNOWN_BRAND' | translate) }} <span ng-if="resource.model">, {{ resource.model }}</span></h4>
          </div>
          <div ng-include="'resource/partials/resource-features.tpl.html'"></div>

        </div>
      </div>

      <!-- owner -->

      <div class="card">
        <div class="card-heading">
          <h3 class="card-title">{{ 'OWNER' | translate }}</h3>
          <div class="media">
            <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.owner, size: 'small' }" />
            <div class="media-body">
              <h4 class="media-heading"><a ui-sref="member({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></h4>
              <div ng-if="resource.owner.created" class="text-muted">
                <small>{{ resource.owner.created | memberSince }}</small>
              </div>
              <div><span badge-list="resource.owner.badges"></span></div>

              <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.owner)">
                <i class="fa fa-comment fa-fw"></i>
                Stuur een bericht
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ng-if="resource.advertisement">
            <h5>{{ 'ABOUT_CAR' | translate}}</h5>
            <p>{{ resource.advertisement }}</p>
          </div>
          <div ng-if="resource.owner.about">
            <h5>{{ 'ABOUT_ME' | translate }}</h5>
            <p>{{ resource.owner.about}}</p>
          </div>
        </div>
      </div>

      <!-- contact person -->

      <div class="card" ng-if="me && resource.contactPerson && (resource.contactPerson.id !== resource.owner.id)">
        <div class="card-heading">
          <h3 class="card-title">{{ 'CONTACT_PERSON' | translate }}</h3>
          <div class="media">
            <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.contactPerson, size: 'small' }" />
            <div class="media-body">
              <h4 class="media-heading"><a ui-sref="member({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></h4>
              <div ng-if="resource.contactPerson.created" class="text-muted">
                <small>{{ resource.contactPerson.created | memberSince }}</small>
              </div>
              <div><span badge-list="resource.contactPerson.badges"></span></div>

              <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.contactPerson)">
                <i class="fa fa-comment fa-fw"></i>
                Stuur een bericht
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ng-if="resource.contactPerson.about">
            <h5>{{ 'ABOUT_ME' | translate }}</h5>
            <p>{{ resource.contactPerson.about}}</p>
          </div>
        </div>
      </div>

      <!-- ratings -->

      <div class="card" ng-if="features.ratings">
        <div class="card-heading">
          <h3 class="card-title">
            <span ng-bind="'RATINGS' | translate"></span>
            &nbsp;<span ng-if="resource.ratings.length >= 1">({{ resource.ratings.length }})</span>
          </h3>
        </div>
        <div class="card-body">
          <div ng-include="'resource/partials/resource-rating-summary.tpl.html'"></div>
          <div ng-if="resource.ratings.length">
            <br/>
            <div ng-include="'resource/partials/resource-rating-reviews.tpl.html'"></div>
          </div>
        </div>
      </div>

      <!-- location -->

      <div class="card">
        <div class="card-heading">
          <h3 class="card-title">{{ resource.location }} <small>{{ resource.city }}</small></h3>
        </div>
        <ui-gmap-google-map  class="google-map"
             center="map.center"
             zoom="map.zoom"
             draggable="false"
             dragging="map.dragging"
             bounds="map.bounds"
             events="map.events"
             options="map.options">
             <!-- prefedined markers -->
              <!-- rendering via ng-repear, HIGH OVERHEAD via DOM Manipulation -->
              <ui-gmap-marker idKey="$index" ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                  <ui-gmap-window show="m.showWindow" closeClick="m.closeClick()">
                      <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                      <p class="muted">My marker will stay open when the window is popped up!</p>
                  </ui-gmap-window>
              </ui-gmap-marker>
        </ui-gmap-google-map >

        <div class="card-body">
          {{ 'RESOURCE_MORE_IN_CITY' | translate }} <a ui-sref="owm.resource.place.list({ city: resource.city })">{{ resource.city }}</a>
          </div>
      </div>

    </div><!-- /col -->

    <div ng-if="features.resourceSidebar && isWindowSizeMD" class="col-md-4 hidden-xs hidden-sm">
      <div class="card">
        <div class="card-heading">
          <h3 class="card-title"><i class="fa fa-fw fa-pencil"></i> {{ 'BOOK_A_CAR' | translate }}</h3>
        </div>
        <div class="card-body">
          <reservation-form person="me" resource="resource" booking="booking" show-price="true"></reservation-form>
        </div>
      </div>
    </div>

  </div><!-- /row -->
</div>
