<div ng-controller="ResourceEditDataController">

  <form name="editResourceForm" ng-submit="save(resource)">

    <div id="resource_alias" class="form-group">
      <label for="resource_alias">{{ 'ALIAS' | translate }}
        <info-icon tooltip-html="'INFO_RESOURCE_ALIAS' | translate"></info-icon>
      </label>
      <input type="text" id="alias" name="alias" class="form-control" ng-model="resource.alias">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="resource_brand">{{ 'BRAND' | translate }}</label>
          <input type="text" id="brand" name="brand" class="form-control" ng-model="resource.brand" ng-disabled="disabledFields.brand">
        </div>

        <div class="col-md-6 col-xs-12">
          <label for="resource_model">{{ 'MODEL' | translate }}</label>
          <input type="text" id="model" name="model" class="form-control" ng-model="resource.model" ng-disabled="disabledFields.model">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="resource_color">{{ 'COLOR' | translate }}</label>
          <input type="text" id="color" name="color" class="form-control" ng-model="resource.color" ng-disabled="disabledFields.color">
        </div>

        <div class="col-md-6 col-xs-12">
          <label for="resource_number_of_seats">{{ 'NUMBER_OF_SEATS' | translate }}</label>
          <select id="numberOfSeats" name="numberOfSeats" class="form-control" ng-model="resource.numberOfSeats"
            ng-options="option.value as option.label for option in numberOfSeatsOptions"  ng-disabled="disabledFields.numberOfSeats">
          </select>
        </div>
      </div>
    </div>

    <div id="resource_fuel_type" form-group label="{{ 'FUEL_TYPE' | translate }}">
      <select id="fuelType" name="fuelType" class="form-control" ng-model="resource.fuelType"
              ng-options="o.value as o.label for o in fuelTypeOptions" ng-disabled="disabledFields.fuelType">
      </select>
    </div>

    <div id="resource_type" form-group label="{{ 'RESOURCE_TYPE' | translate }}">
      <select id="resourceType" name="resourceType" class="form-control" ng-model="resource.resourceType"
              ng-options="o.value as o.label for o in resourceTypeOptions" ng-disabled="disabledFields.resourceType"></select>
    </div>

    <div class="form-group">
      <label>{{ 'RESOURCE_PROPERTIES' | translate }}</label>
      <div class="checkbox" ng-repeat="option in resourcePropertyOptions">
        <label>
          <input type="checkbox" ng-model="resourceProperties[option.value]" id="{{ option.value }}" />{{ option.label }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <button id="clear" type="button" class="btn btn-default" ng-disabled="editResourceForm.$pristine" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
      <button id="submitForm" type="submit" class="btn btn-primary" ng-disabled="editResourceForm.$pristine">{{ 'SUBMIT' | translate }}</button>
    </div>

  </form>
</div>
