<div class="container container-transitional">

  <!-- self profile -->

  <div class="card card-notice" ng-if="user.identity.id === person.id">
    <div class="card-body">
      <p>
        {{ 'MEMBER_PROFILE_INTRO' | translate }}
        <info-icon tooltip-html="'INFO_SELF_PROFILE' | translate" tooltip-placement="bottom"><info-icon>
      </p>
      <a ui-sref="owm.person.profile">
        <i class="fa fa-fw fa-cog"></i>{{ 'EDIT_PROFILE' | translate }}
      </a>
    </div>
  </div>

  <div class="row">
    <div ng-class="{ 'col-md-8': showSidebar, 'col-xs-12': !showSidebar }">

      <!-- suggest login -->

      <div ng-if="!user.isAuthenticated" class="card">
        <div class="card-body">
          <p><i class="fa fa-fw fa-info-circle text-info"></i>{{ 'MEMBER_SUGGEST_LOGIN' | translate }}</p>
          <a ng-href="{{ signupUrl }}" class="btn btn-warning">{{ 'SIGNUP_SHORT' | translate }}</a>
          <button ng-click="login()" type="button" class="btn btn-warning">{{ 'LOGIN_SHORT' | translate }}</button>
        </div>
      </div>

      <!-- about -->

      <div class="card">
        <div class="card-heading">
          <h2 class="card-title">{{ person | fullname }}</h2>
        </div>
        <div class="card-body">
          <div class="media">
            <img class="media-object pull-left img-user-normal" person-profile-image="{ person: person, size: 'normal' }" />
            <div class="media-body text-left">
              <p>
                <span ng-if="person.about">{{ person.about }}</span>
                <span ng-if="!person.about">{{ person.firstName | toTitleCase }} heeft nog geen introductie over zichzelf geschreven.</span>
              </p>

              <small ng-if="person.dateOfBirth" class="text-muted">
                {{ 'AGE' | translate }}: {{ person.dateOfBirth | personAge }}
                <i class="fa fa-fw fa-circle"></i>
              </small>
              <small ng-if="person.created" class="text-muted">
                {{ person.created | memberSince }}
                <i class="fa fa-fw fa-circle"></i>
              </small>
              <small class="text-muted">{{ person.numberOfBookings | hasBookedTimes }}</small>

              <div ng-if="person.badges"><span badge-list="person.badges"></span></div>
            </div>
          </div>

        </div>
      </div>

      <!-- ratings -->

      <div class="card" ng-if="features.ratings && person.ratings.length >= 1">
        <div class="card-heading">
          <h3 class="card-title">{{ 'SATISFACTION' | translate }}
            <span class="text-muted">
              {{ 'OF_OWNERS' | translate }}
              <span ng-if="person.ratings.length >= 1">({{ person.ratings.length }})</span>
            </span>
          </h3>
        </div>
        <div class="card-body">
          <div ng-include="'person/partials/person-rating-summary.tpl.html'"></div>
          <div ng-include="'person/partials/person-rating-reviews.tpl.html'"></div>
        </div>
      </div>

    </div>

    <div ng-if="showSidebar" class="col-md-4">

      <div class="card" ng-if="showContactInfo">
        <div class="card-body">
          <h3>Contact</h3>

          <p ng-if="user.isAuthenticated">
            <button ng-if="user.isAuthenticated" ng-click="openChatWith(person)" type="button" class="btn btn-block btn-primary">
              <i class="fa fa-comment"></i> Stuur een bericht
            </button>
          </p>
          <ul class="list-unstyled list-block list-spaced fa-ul">
            <li ng-if="person.city"><i class="fa fa-li fa-map-marker"></i> {{ person.city }}</li>
            <li ng-if="person.email"><i class="fa fa-li fa-envelope"></i> {{ person.email }}</li>
            <li ng-repeat="phoneNumber in person.phoneNumbers">
              <i class="fa fa-li fa-phone"></i> {{ phoneNumber.number }}
            </li>
            <li ng-if="person.facebookUid"><i class="fa fa-li fa-facebook"></i>
              <a target="_blank" ng-href="https://facebook.com/{{ person.facebookUid }}">Facebook</a>
            </li>
            <li ng-if="person.twitterUid"><i class="fa fa-li fa-twitter"></i>
              <a target="_blank" ng-href="https://twitter.com/{{ person.twitterUid }}">Twitter</a>
            </li>
            <li ng-if="person.linkedinUid"><i class="fa fa-li fa-linkedin"></i>
              <a target="_blank" ng-href="https://www.linkedin.com/profile/view?id={{ person.linkedinUid }}">LinkedIn</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="card" ng-if="activeResources.length >= 1">
        <div class="card-body">
          <h3>Auto</h3>

          <!-- left-column version -->
          <div ng-if="!isWindowSizeMD" ng-repeat="resource in activeResources" class="media">
            <div ui-sref="owm.resource.show({ resourceId: resource.id })" ng-include="'resource/partials/resource-header1.tpl.html'"></div>
          </div>

          <!-- side bar version -->
          <ul ng-if="isWindowSizeMD" class="list-unstyled">
            <li ng-repeat="resource in activeResources">
              <p>
                <a ui-sref="owm.resource.show({ resourceId: resource.id })">
                  <h4>
                    {{ resource.alias }}
                    <span ng-if="!resource.alias">
                      {{ resource.brand || 'Onbekend merk' }}<span ng-if="resource.model">, {{ resource.model }}</span>
                    </span>
                    &nbsp;<span ng-if="features.ratings" rating-thumb="{ value : resource.rating.satisfaction, senders : resource.rating.senders }"></span>
                  </h4>
                  <img ng-src="{{ resource.pictures[0] | resourceAvatar: 'large' }}" class="img-scale" />
                </a>
              </p>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>

